{% extends "base.html" %}

{% block title %} کنترل پروژه آب رسانی -  {{ projects_data.title }} {% endblock %}
{% block MenuTitle %} کنترل پروژه آب رسانی -  {{ projects_data.title }} {% endblock %}

{% block UnderMap %}
    <style>
      .map {
        filter: blur(6px) brightness(1.1) saturate(1.2) sepia(0.1);
      }
    </style>


    <div class="progress full_progress">
        <div class="determinate" style="width: {{ projects_data.miangin_pishraft }}%"></div>
    </div>

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a id="menu" class="btn btn-floating btn-large" style="background-color: var(--color_secondary)" onclick="$('.tap-target').tapTarget('open')">
        <i class="material-icons">timeline</i>
      </a>
    </div>

    <div class="tap-target" data-target="menu">
      <div class="tap-target-content white-text">
        <h5>خط مرگ</h5>
        <p class="white-text">این پروژه در تاریخ <b>{{ projects_data.date_start }}</b> شروع شده
            <br>
            و باید در تاریخ <b>{{ projects_data.date_end }}</b> به پایان برسد
            <br>
            اما تا کنون <b>{{ projects_data.miangin_pishraft }}%</b> از زیر پروژه ها پیشرفت داشته اند
        </p>
      </div>
    </div>

{% endblock UnderMap %}

{% block LeftContent %}
    <ul class="collection with-header">
        <li class="collection-header" style="direction: rtl;"><h4>{{ projects_data.city }}</h4></li>
        {% for pd in projects_data.subprojects %}
            <li class="collection-item avatar ">
                <a href="./{{ projects_data.slug }}/{{ pd.id }}">
                    <img src="{{ pd.photo }}" alt="" class="circle">
                    <span class="title">{{ pd.title }}</span>
                    <p>{{ pd.city }} - {{ pd.date_end }}</p>
                </a>
                <a href="./{{ projects_data.slug }}/{{ pd.id }}" class="secondary-content waves-effect waves-light" style="margin-top: 5px;margin-right: -8px;">{{ pd.icon|safe }}</a>
                <div class="progress">
                    <div class="determinate" style="width: {{ pd.pishrafte_kol }}%"></div>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% if user.is_authenticated %}
        <ul class="collection with-header">
            <li class="collection-header" style="text-align: right;"><h4>یادداشت مدیریتی</h4></li>
            <li class="collection-item " style="direction: rtl;padding: 0;">
                <textarea class="row" placeholder="یادداشت" onchange="updateNoteText(this,'{{ projects_data.slug }}');" style="border: 0 none; width: 100%; min-height: 202px;margin: auto;" >{{ projects_data.note }}</textarea>
            </li>
        </ul>
    {% endif %}
{% endblock LeftContent %}

{% block LeftBoxWidth %}48%{% endblock LeftBoxWidth %}

{% block RightContent %}
{#    <ul class="collapsible popout">#}
{#        <li>#}
{#            <div class="collapsible-header"><i class="material-icons">filter_drama</i>مجوز پروژه</div>#}
{#            <div class="collapsible-body">#}
{#                <span>#}
{#                    <img style="max-width: 100%" src="{{ projects_data.mojavez }}">#}
{#                    <br>#}
{#                    <a download="" href="{{ projects_data.mojavez }}" class="waves-effect waves-light btn-small" style="background-color: var(--color_secondary)">#}
{#                        <i class="material-icons right">download</i>#}
{#                        لینک دانلود#}
{#                    </a>#}
{#                </span>#}
{#            </div>#}
{#        </li>#}
{#        <li>#}
{#            <div class="collapsible-header"><i class="material-icons">place</i>مستندات پروژه</div>#}
{#            <div class="collapsible-body">#}
{#                <span>#}
{#                    <img style="max-width: 100%" src="{{ projects_data.mostanadat }}">#}
{#                    <br>#}
{#                    <a download="" href="{{ projects_data.mostanadat }}" class="waves-effect waves-light btn-small" style="background-color: var(--color_secondary)">#}
{#                        <i class="material-icons right">download</i>#}
{#                        لینک دانلود#}
{#                    </a>#}
{#                </span>#}
{#            </div>#}
{#        </li>#}
{#        <li>#}
{#            <div class="collapsible-header"><i class="material-icons">whatshot</i>فایل های پروژه</div>#}
{#            <div class="collapsible-body">#}
{#                <span>#}
{#                    <img style="max-width: 100%" src="{{ projects_data.file_ha }}">#}
{#                    <br>#}
{#                    <a download="" href="{{ projects_data.file_ha }}" class="waves-effect waves-light btn-small" style="background-color: var(--color_secondary)">#}
{#                        <i class="material-icons right">download</i>#}
{#                        لینک دانلود#}
{#                    </a>#}
{#                </span>#}
{#            </div>#}
{#        </li>#}
{#    </ul>#}
{% endblock RightContent %}

{% block BottomContent %}
{% endblock BottomContent %}


{% block scripts %}

    function updateNoteText(selfObject,PSlug){
        var xhttp = new XMLHttpRequest();
        xhttp.onload = function() {
            var HtmlToast = '<span>یادداشت ذخیره شد</span><button class="btn-flat toast-action">بازگشت</button>';
            M.toast({html: HtmlToast, classes: 'rounded'});
        }
        xhttp.open("POST", "/api/project/");
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("project="+PSlug+"&csrfmiddlewaretoken={{ csrf_token }}&text="+selfObject.value);
    }

    var map = new ol.Map({
        target: 'map',
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          })
        ],
        view: new ol.View({
          center: ol.proj.fromLonLat([{{ projects_data.lng }},{{ projects_data.lat }}]),
          zoom: 14
        })
    });




{% endblock scripts %}
