{% extends "base.html" %}

{% block title %}کنترل پروژه آب رسانی - نمایش پروژه ها{% endblock %}
{% block MenuTitle %}کنترل پروژه آب رسانی - نمایش پروژه ها{% endblock %}

{% block UnderMap %}
    <style>
      .map {
        filter: blur(6px) brightness(1.1) saturate(1.2) sepia(0.1);
      }
    </style>
{% endblock UnderMap %}

{% block LeftContent %}
    <ul class="collection">
        {% for pd in projects_data %}
            <li class="collection-item avatar">
                <a  href="./{{ pd.slug }}" title="{{ pd.title }}">
                    <img src="{{ pd.photo }}" alt="" class="circle" style="margin-top: 10px;">
                    <span class="title">{{ pd.title }}</span>
                    <p>
                        {{ pd.city }} - {{ pd.date_end }}
                        <br>
                        <div class="progress">
                            <div class="determinate" style="width: {{ pd.miangin_pishraft }}%"></div>
                        </div>
                    </p>
                </a>
                <a href="./{{ pd.slug }}" class="secondary-content" style="margin-top: 5px;margin-right: -8px;"><i class="material-icons">send</i></a>
            </li>
        {% endfor %}
    </ul>
{% endblock LeftContent %}

{% block BottomContent %}
{% endblock BottomContent %}


{% block scripts %}

  var map = new ol.Map({
    target: 'map',
    layers: [
      new ol.layer.Tile({
        source: new ol.source.OSM()
      })
    ],
    view: new ol.View({
      center: ol.proj.fromLonLat([52.5745685,29.6291444]),
      zoom: 8
    })
  });

{% endblock scripts %}
