<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <meta charset="UTF-8">
    <title>کنترل پروژه آب رسانی - نمایش پروژه ها</title>
    <meta name="description" content="The small framework with powerful features">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>

    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/gh/rastikerdar/sahel-font@v3.4.0/dist/font-face.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
{#    <link rel="stylesheet" href="/static/css/ol.css">#}
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">




    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/css/ol.css" type="text/css">
    <style>
      .map {
        filter: blur(6px);
      }
    </style>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/build/ol.js"></script>

</head>
<body>
    <div id="map" class="map"></div>
    <div class="container">

    <nav class="row">
        <div class="nav-wrapper">
          <a href="../" class="brand-logo"><b><i class="material-icons">spa</i>کنترل پروژه آبرسانی شهید مالکوم ایکس</b></a>
          <ul class="right hide-on-med-and-down">
            <li><a class="waves-effect waves-light modal-trigger" href="#search"><i class="material-icons">search</i></a></li>
            <li><a href="../project"><i class="material-icons">view_module</i></a></li>
            <li><a href="./"><i class="material-icons">refresh</i></a></li>
            <li><a href="../admin"><i class="material-icons">account_circle</i></a></li>
            <li><a href="../register"><i class="material-icons">person_add</i></a></li>
          </ul>
        </div>
    </nav>
    <!-- Search Modal Structure -->
    <form style="direction: rtl;" id="search" class="modal modal-fixed-footer" method="post" action="../../search">
        <div class="modal-content">
            <h4>جستجو در پروژه ها</h4>
            {% csrf_token %}
            <p><input type="search" style="min-height: 188px;" placeholder="عنوان پروژه"></p>
        </div>
        <div class="modal-footer">
           <input type="submit" value="جستجو" class="modal-close waves-effect waves-green btn-flat" >
        </div>
    </form>


    <div style="float: left;width: 313px;">
        <ul class="collection">
            {% for pd in projects_data %}
                <li class="collection-item avatar">
                    <a  href="./{{ pd.slug }}" title="{{ pd.title }}">
                        <img src="{{ pd.photo }}" alt="" class="circle" style="margin-top: 10px;">
                        <span class="title">{{ pd.title }}</span>
                        <p>
                            {{ pd.city }} - {{ pd.date_end }}
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ pd.miangin_pishraft }}%"></div>
                            </div>
                        </p>
                    </a>
                    <a href="./{{ pd.slug }}" class="secondary-content" style="margin-top: 5px;margin-right: -8px;"><i class="material-icons">send</i></a>
                </li>
            {% endfor %}
        </ul>
    </div>

    </div>

    <script type="text/javascript">

        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.modal');
            var instances = M.Modal.init(elems);
        });

      var map = new ol.Map({
        target: 'map',
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          })
        ],
        view: new ol.View({
          center: ol.proj.fromLonLat([52.5745685,29.6291444]),
          zoom: 8
        })
      });

    </script>

</body>
</html>
