{% extends "base.html" %}
{% load saelozahra_tags %}

{% block title %} کنترل پروژه آب رسانی -  {{ project.title }} {% endblock %}
{% block MenuTitle %}
    <i class="material-icons">reply</i>
    <div style="float: left">{{ project.title }}</div>
{% endblock %}


{% block UnderMap %}
    <style>
        .map {
            filter: blur(6px) brightness(1.1) saturate(1.2) sepia(0.1);
        }
        .collection a, .secondary-content {
            color: whitesmoke;
        }
    </style>



    <div class="progress full_progress">
        <div class="determinate" style="width: {{ project.pishrafte_kol }}%"></div>
    </div>

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a id="menu" class="btn btn-floating btn-large" style="background-color: var(--color_secondary)" onclick="$('.tap-target').tapTarget('open')">
        <i class="material-icons">timeline</i>
      </a>
    </div>

    <div class="tap-target" data-target="menu">
      <div class="tap-target-content white-text">
        <h5>خط مرگ</h5>
        <p class="white-text">این پروژه در تاریخ <b>{{ project.date_start }}</b> شروع شده
            <br>
            و باید در تاریخ <b>{{ project.date_end }}</b> به پایان برسد
            <br>
            اما تا کنون <b>{{ project.pishrafte_kol }}%</b> از زیر پروژه ها پیشرفت داشته اند
        </p>
      </div>
    </div>

{% endblock UnderMap %}

{% block LeftContent %}
      <div class="row">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
                {% if project.team.avatar %}
                    <img src="{{ project.team.avatar.url}}" alt="" class="circle responsive-img">
                {% else %}
                    <img src="/static/Male-placeholder.jpeg" alt="" class="circle responsive-img">
                {% endif %}
            </div>
            <div class="col s10" style="text-align: right">
                <h5 style="margin: auto">سرپرست کارگاه</h5>
                <br>
                <span class="black-text">
                    {{ project.team.get_full_name}} | {{ project.team.city}}
                </span>
                <a class="left" style="margin-right: 8px" href="tel:{{ project.team.phone}}">
                    <i class="material-icons">call</i>
                </a>
                <a class="left" style="margin-left: 8px" href="tel:{{ project.team.email}}">
                    <i class="material-icons">mail</i>
                </a>
            </div>
          </div>
        </div>
      </div>
    <br>



    <div class="collection with-header">
        <li class="collection-header" style="text-align: right;"><h5><b>مستندات</b> {{ project.title }}</h5></li>
        <ul class="collapsible popout" style="padding: 14px;">

            {% for pdoc in project.Documents.values %}
                <li>
                    <div class="collapsible-header"><i class="material-icons">{{ pdoc.MDIIcon }}</i>{{ pdoc.DocType|pd_name }}</div>
                    <div class="collapsible-body">
                        <span>
                            <img style="max-width: 100%" src="/files/{{ pdoc.photo }}">
                            <br>
                            <p class="row">{{ pdoc.DocName }}</p>
                            <a download="" href="/files/{{ pdoc.photo }}" class="waves-effect waves-light btn-small" style="background-color: var(--color_secondary)">
                                <i class="material-icons right">download</i>
                                لینک دانلود
                            </a>
                        </span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock LeftContent %}

{% block LeftBoxWidth %}48%{% endblock LeftBoxWidth %}

{% block RightContent %}
    <ul class="collapsible expandable popout" style="direction: rtl;">
    {% for spdtmejra in project.type.marhalel_ejra_s.values %}
            <li>
                <div class="collapsible-header">{{ forloop.counter|filter_number_icon|safe }}  {{ spdtmejra.marhale }}</div>
                <div class="collapsible-body">
                    <span>
                        {% if forloop.counter == 1 %}
                            {{ project.marhale1 }}
                            <br>واحد کل: <b>{{ project.marhale1full }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>واحد اجرا شده: <b>{{ project.marhale1accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>میزان باقیمانده: <b>{{ project.marhale1full|menha:project.marhale1accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale1accomplished|darsad:project.marhale1full }}%"></div>
                            </div>
                        {% elif forloop.counter == 2 %}
                            {{ project.marhale2 }}
                            <br>واحد کل: <b>{{ project.marhale2full }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>واحد اجرا شده: <b>{{ project.marhale2accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>میزان باقیمانده: <b>{{ project.marhale2full|menha:project.marhale2accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale1accomplished|darsad:project.marhale1full }}%"></div>
                            </div>
                        {% elif forloop.counter == 3 %}
                            {{ project.marhale3 }}
                            <br>واحد کل: <b>{{ project.marhale3full }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>واحد اجرا شده: <b>{{ project.marhale3accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>میزان باقیمانده: <b>{{ project.marhale3full|menha:project.marhale3accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale1accomplished|darsad:project.marhale1full }}%"></div>
                            </div>
                        {% elif forloop.counter == 4 %}
                            {{ project.marhale4 }}
                            <br>واحد کل: <b>{{ project.marhale4full }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>واحد اجرا شده: <b>{{ project.marhale4accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>میزان باقیمانده: <b>{{ project.marhale4full|menha:project.marhale4accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale1accomplished|darsad:project.marhale1full }}%"></div>
                            </div>
                        {% elif forloop.counter == 5 %}
                            {{ project.marhale5 }}
                            <br>واحد کل: <b>{{ project.marhale5full }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>واحد اجرا شده: <b>{{ project.marhale5accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>میزان باقیمانده: <b>{{ project.marhale5full|menha:project.marhale5accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale1accomplished|darsad:project.marhale1full }}%"></div>
                            </div>
                        {% elif forloop.counter == 6 %}
                            {{ project.marhale6 }}
                            <br>واحد کل: <b>{{ project.marhale6full }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>واحد اجرا شده: <b>{{ project.marhale6accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>میزان باقیمانده: <b>{{ project.marhale6full|menha:project.marhale6accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale1accomplished|darsad:project.marhale1full }}%"></div>
                            </div>
                        {% elif forloop.counter == 7 %}
                            {{ project.marhale7 }}
                            <br>واحد کل: <b>{{ project.marhale7full }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>واحد اجرا شده: <b>{{ project.marhale7accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>میزان باقیمانده: <b>{{ project.marhale7full|menha:project.marhale7accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale1accomplished|darsad:project.marhale1full }}%"></div>
                            </div>
                        {% elif forloop.counter == 8 %}
                            {{ project.marhale8 }}
                            <br>واحد کل: <b>{{ project.marhale8full }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>واحد اجرا شده: <b>{{ project.marhale8accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>میزان باقیمانده: <b>{{ project.marhale8full|menha:project.marhale8accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale1accomplished|darsad:project.marhale1full }}%"></div>
                            </div>
                        {% elif forloop.counter == 9 %}
                            {{ project.marhale9 }}
                            <br>واحد کل: <b>{{ project.marhale9full }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>واحد اجرا شده: <b>{{ project.marhale9accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>میزان باقیمانده: <b>{{ project.marhale9full|menha:project.marhale9accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale1accomplished|darsad:project.marhale1full }}%"></div>
                            </div>
                        {% elif forloop.counter == 10 %}
                            {{ project.marhale10 }}
                            <br>واحد کل: <b>{{ project.marhale10full }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>واحد اجرا شده: <b>{{ project.marhale10accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>میزان باقیمانده: <b>{{ project.marhale10full|menha:project.marhale10accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale1accomplished|darsad:project.marhale1full }}%"></div>
                            </div>
                        {% elif forloop.counter == 11 %}
                            {{ project.marhale11 }}
                            <br>واحد کل: <b>{{ project.marhale11full }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>واحد اجرا شده: <b>{{ project.marhale11accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>میزان باقیمانده: <b>{{ project.marhale11full|menha:project.marhale11accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale1accomplished|darsad:project.marhale1full }}%"></div>
                            </div>
                        {% elif forloop.counter == 12 %}
                            {{ project.marhale12 }}
                            <br>واحد کل: <b>{{ project.marhale12full }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>واحد اجرا شده: <b>{{ project.marhale12accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>میزان باقیمانده: <b>{{ project.marhale12full|menha:project.marhale12accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale1accomplished|darsad:project.marhale1full }}%"></div>
                            </div>
                        {% elif forloop.counter == 13 %}
                            {{ project.marhale13 }}
                            <br>واحد کل: <b>{{ project.marhale13full }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>واحد اجرا شده: <b>{{ project.marhale13accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>میزان باقیمانده: <b>{{ project.marhale13full|menha:project.marhale13accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale1accomplished|darsad:project.marhale1full }}%"></div>
                            </div>
                        {% elif forloop.counter == 14 %}
                            {{ project.marhale14 }}
                            <br>واحد کل: <b>{{ project.marhale14full }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>واحد اجرا شده: <b>{{ project.marhale14accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>میزان باقیمانده: <b>{{ project.marhale14full|menha:project.marhale14accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale1accomplished|darsad:project.marhale1full }}%"></div>
                            </div>
                        {% elif forloop.counter == 15 %}
                            {{ project.marhale15 }}
                            <br>واحد کل: <b>{{ project.marhale15full }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>واحد اجرا شده: <b>{{ project.marhale15accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>میزان باقیمانده: <b>{{ project.marhale15full|menha:project.marhale15accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale1accomplished|darsad:project.marhale1full }}%"></div>
                            </div>
                        {% elif forloop.counter == 16 %}
                            {{ project.marhale16 }}
                            <br>واحد کل: <b>{{ project.marhale16full }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>واحد اجرا شده: <b>{{ project.marhale16accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>میزان باقیمانده: <b>{{ project.marhale16full|menha:project.marhale16accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale1accomplished|darsad:project.marhale1full }}%"></div>
                            </div>
                        {% elif forloop.counter == 17 %}
                            {{ project.marhale17 }}
                            <br>واحد کل: <b>{{ project.marhale17full }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>واحد اجرا شده: <b>{{ project.marhale17accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>میزان باقیمانده: <b>{{ project.marhale17full|menha:project.marhale17accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale1accomplished|darsad:project.marhale1full }}%"></div>
                            </div>
                        {% elif forloop.counter == 18 %}
                            {{ project.marhale18 }}
                            <br>واحد کل: <b>{{ project.marhale18full }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>واحد اجرا شده: <b>{{ project.marhale18accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>میزان باقیمانده: <b>{{ project.marhale18full|menha:project.marhale18accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale1accomplished|darsad:project.marhale1full }}%"></div>
                            </div>
                        {% elif forloop.counter == 19 %}
                            {{ project.marhale19 }}
                            <br>واحد کل: <b>{{ project.marhale19full }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>واحد اجرا شده: <b>{{ project.marhale19accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>میزان باقیمانده: <b>{{ project.marhale19full|menha:project.marhale19accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale1accomplished|darsad:project.marhale1full }}%"></div>
                            </div>
                        {% elif forloop.counter == 20 %}
                            {{ project.marhale20 }}
                            <br>واحد کل: <b>{{ project.marhale20full }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>واحد اجرا شده: <b>{{ project.marhale20accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>میزان باقیمانده: <b>{{ project.marhale20full|menha:project.marhale20accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale1accomplished|darsad:project.marhale1full }}%"></div>
                            </div>
                        {% endif %}
                    </span>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock RightContent %}

{% block BottomContent %}
{% endblock BottomContent %}


{% block scripts %}

  var map = new ol.Map({
    target: 'map',
    layers: [
      new ol.layer.Tile({
        source: new ol.source.OSM()
      })
    ],
    view: new ol.View({
      center: ol.proj.fromLonLat([{{ lng }},{{ lat }}]),
      zoom: 14
    })
  });

  $(document).ready(function(){

    var elem = document.querySelector('.collapsible.expandable');
    var instance = M.Collapsible.init(elem, {
      accordion: false
    });

  });


{% endblock scripts %}
