{% extends "base.html" %}
{% load saelozahra_tags %}

{% block title %} کنترل پروژه آب رسانی -  {{ project.title }} {% endblock %}
{% block MenuTitle %}
    <i class="material-icons">reply</i>
    <div style="float: left">{{ project.title }}</div>
{% endblock %}


{% block UnderMap %}
    <style>
        .map {
            filter: blur(6px) brightness(1.1) saturate(1.2) sepia(0.1);
        }
        .collection a, .secondary-content {
            color: whitesmoke;
        }
    </style>



    <div class="progress full_progress">
        <div class="determinate" style="width: {{ project.pishrafte_kol }}%"></div>
    </div>

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a id="menu" class="btn btn-floating btn-large" style="background-color: var(--color_secondary)" onclick="$('.tap-target').tapTarget('open')">
        <i class="material-icons">timeline</i>
      </a>
    </div>

    <div class="tap-target" data-target="menu">
      <div class="tap-target-content white-text">
        <h5>خط مرگ</h5>
        <p class="white-text">این پروژه در تاریخ <b>{{ project.date_start }}</b> شروع شده
            <br>
            و باید در تاریخ <b>{{ project.date_end }}</b> به پایان برسد
            <br>
            اما تا کنون <b>{{ project.pishrafte_kol }}%</b> از زیر پروژه ها پیشرفت داشته اند
        </p>
      </div>
    </div>

{% endblock UnderMap %}

{% block LeftContent %}
      <div class="row">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
                {% if project.team.avatar %}
                    <img src="{{ project.team.avatar.url}}" alt="" class="circle responsive-img">
                {% else %}
                    <img src="/static/Male-placeholder.jpeg" alt="" class="circle responsive-img">
                {% endif %}
            </div>
            <div class="col s10" style="text-align: right">
                <h5 style="margin: auto">سرپرست کارگاه</h5>
                <br>
                <span class="black-text">
                    {{ project.team.get_full_name}} | {{ project.team.city}}
                </span>
                <a class="left btn-floating btn-small green darken-4" style="margin-right: 8px; margin-top: -14px;" href="tel:{{ project.team.phone}}">
                    <i class="material-icons">call</i>
                </a>
                <a class="left btn-floating btn-small green darken-4" style="margin-left: 8px; margin-top: -14px;" href="tel:{{ project.team.email}}">
                    <i class="material-icons">mail</i>
                </a>
                {% if request.user.username != project.team.username %}
                    <a class="btn-floating btn-small pulse left green darken-4" style="margin-left: 18px; margin-top: -14px;" href="../../chat/{{ request.user.username }}/{{ project.team.username}}">
                        <i class="material-icons">chat</i>
                    </a>
                {% endif %}
            </div>
          </div>
        </div>
      </div>



    <div class="collection with-header">
        <li class="collection-header" style="text-align: right;"><h5><b>مستندات</b> {{ project.title }}</h5></li>
        <ul class="collapsible popout" style="padding: 14px;">

            {% for pdoc in project.Documents.values %}
                <li>
                    <div class="collapsible-header"><i class="material-icons">{{ pdoc.MDIIcon }}</i>{{ pdoc.DocType|pd_name }}</div>
                    <div class="collapsible-body">
                        <span>
                            <a data-lightbox="lb" data-title="{{ pdoc.DocType|pd_name }}" href="/files/{{ pdoc.photo }}" >
                                <img style="max-width: 100%" src="/files/{{ pdoc.photo }}" alt="{{ pdoc.DocName }}">
                            </a>
                            <br>
                            <p class="row">{{ pdoc.DocName }}</p>
                            <a download="" href="/files/{{ pdoc.photo }}" class="waves-effect waves-light btn-small" style="background-color: var(--color_secondary)">
                                <i class="material-icons right">download</i>
                                لینک دانلود
                            </a>
                        </span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    {% if user.is_superuser %}
        <ul class="collection with-header">
            <li class="collection-header tar"><h4>یادداشت مدیریتی</h4></li>
            <li class="collection-item rtl" style="padding: 0;">
                <textarea class="row" placeholder="یادداشت" onchange="updateNoteText(this,'{{ id }}');" style="border: 0 none; width: 100%; min-height: 110px; min-width: 100%;margin: auto;" >{{ project.note }}</textarea>
            </li>
        </ul>
    {% endif %}

{% endblock LeftContent %}

{% block LeftBoxWidth %}48%{% endblock LeftBoxWidth %}

{% block RightContent %}
    <ul class="collapsible expandable popout" style="direction: rtl;">
    {% for spdtmejra in project.type.marhalel_ejra_s.values %}
            <li>
                <div class="collapsible-header">{{ forloop.counter|filter_number_icon|safe }}  {{ spdtmejra.marhale }}</div>
                <div class="collapsible-body">
                    <span style="user-select: none">


                        {% if forloop.counter == 1 %}
                            <p class="desc" contenteditable="true" onfocusout="UpdateMarhaleDesc(this.innerText, 1, {{ id }})" >{{ project.marhale1 }}</p>
                            <div class="full">واحد کل: <b>{{ project.marhale1full }}</b> <small>{{ spdtmejra.vahed }}</small></div>
                            واحد اجرا شده:  <b contenteditable="true" oninput="UpdateMarhaleValue(this.innerText, 1, {{ id }})" >{{ project.marhale1accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <div class="result_value">
                                میزان باقیمانده: <b>{{ project.marhale1full|menha:project.marhale1accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            </div>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale1accomplished|darsad:project.marhale1full }}%"></div>
                            </div>
                        {% elif forloop.counter == 2 %}
                            <p class="desc" contenteditable="true" onfocusout="UpdateMarhaleDesc(this.innerText, 2, {{ id }})" >{{ project.marhale2 }}</p>
                            <div class="full">واحد کل: <b>{{ project.marhale2full }}</b> <small>{{ spdtmejra.vahed }}</small></div>
                            واحد اجرا شده:  <b contenteditable="true" oninput="UpdateMarhaleValue(this.innerText, 2, {{ id }})" >{{ project.marhale2accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <div class="result_value">
                                میزان باقیمانده: <b>{{ project.marhale2full|menha:project.marhale2accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            </div>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale2accomplished|darsad:project.marhale2full }}%"></div>
                            </div>
                        {% elif forloop.counter == 3 %}
                            <p class="desc" contenteditable="true" onfocusout="UpdateMarhaleDesc(this.innerText, 3, {{ id }})" >{{ project.marhale3 }}</p>
                            <div class="full">واحد کل: <b>{{ project.marhale3full }}</b> <small>{{ spdtmejra.vahed }}</small></div>
                            واحد اجرا شده:  <b contenteditable="true" oninput="UpdateMarhaleValue(this.innerText, 3, {{ id }})" >{{ project.marhale3accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <div class="result_value">
                                میزان باقیمانده: <b>{{ project.marhale3full|menha:project.marhale3accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            </div>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale3accomplished|darsad:project.marhale3full }}%"></div>
                            </div>
                        {% elif forloop.counter == 4 %}
                            <p class="desc" contenteditable="true" onfocusout="UpdateMarhaleDesc(this.innerText, 4, {{ id }})" >{{ project.marhale4 }}</p>
                            <div class="full">واحد کل: <b>{{ project.marhale4full }}</b> <small>{{ spdtmejra.vahed }}</small></div>
                            واحد اجرا شده:  <b contenteditable="true" oninput="UpdateMarhaleValue(this.innerText, 4, {{ id }})" >{{ project.marhale4accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <div class="result_value">
                                میزان باقیمانده: <b>{{ project.marhale4full|menha:project.marhale4accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            </div>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale4accomplished|darsad:project.marhale4full }}%"></div>
                            </div>
                        {% elif forloop.counter == 5 %}
                            <p class="desc" contenteditable="true" onfocusout="UpdateMarhaleDesc(this.innerText, 5, {{ id }})" >{{ project.marhale5 }}</p>
                            <div class="full">واحد کل: <b>{{ project.marhale5full }}</b> <small>{{ spdtmejra.vahed }}</small></div>
                            واحد اجرا شده:  <b contenteditable="true" oninput="UpdateMarhaleValue(this.innerText, 5, {{ id }})" >{{ project.marhale5accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <div class="result_value">
                                میزان باقیمانده: <b>{{ project.marhale5full|menha:project.marhale5accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            </div>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale5accomplished|darsad:project.marhale5full }}%"></div>
                            </div>
                        {% elif forloop.counter == 6 %}
                            <p class="desc" contenteditable="true" onfocusout="UpdateMarhaleDesc(this.innerText, 6, {{ id }})" >{{ project.marhale6 }}</p>
                            <div class="full">واحد کل: <b>{{ project.marhale6full }}</b> <small>{{ spdtmejra.vahed }}</small></div>
                            واحد اجرا شده:  <b contenteditable="true" oninput="UpdateMarhaleValue(this.innerText, 6, {{ id }})" >{{ project.marhale6accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <div class="result_value">
                                میزان باقیمانده: <b>{{ project.marhale6full|menha:project.marhale6accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            </div>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale6accomplished|darsad:project.marhale6full }}%"></div>
                            </div>
                        {% elif forloop.counter == 7 %}
                            <p class="desc" contenteditable="true" onfocusout="UpdateMarhaleDesc(this.innerText, 7, {{ id }})" >{{ project.marhale7 }}</p>
                            <div class="full">واحد کل: <b>{{ project.marhale7full }}</b> <small>{{ spdtmejra.vahed }}</small></div>
                            واحد اجرا شده:  <b contenteditable="true" oninput="UpdateMarhaleValue(this.innerText, 7, {{ id }})" >{{ project.marhale7accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <div class="result_value">
                                میزان باقیمانده: <b>{{ project.marhale7full|menha:project.marhale7accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            </div>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale7accomplished|darsad:project.marhale7full }}%"></div>
                            </div>
                        {% elif forloop.counter == 8 %}
                            <p class="desc" contenteditable="true" onfocusout="UpdateMarhaleDesc(this.innerText, 8, {{ id }})" >{{ project.marhale8 }}</p>
                            <div class="full">واحد کل: <b>{{ project.marhale8full }}</b> <small>{{ spdtmejra.vahed }}</small></div>
                            واحد اجرا شده:  <b contenteditable="true" oninput="UpdateMarhaleValue(this.innerText, 8, {{ id }})" >{{ project.marhale8accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <div class="result_value">
                                میزان باقیمانده: <b>{{ project.marhale8full|menha:project.marhale8accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            </div>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale8accomplished|darsad:project.marhale8full }}%"></div>
                            </div>
                        {% elif forloop.counter == 9 %}
                            <p class="desc" contenteditable="true" onfocusout="UpdateMarhaleDesc(this.innerText, 9, {{ id }})" >{{ project.marhale9 }}</p>
                            <div class="full">واحد کل: <b>{{ project.marhale9full }}</b> <small>{{ spdtmejra.vahed }}</small></div>
                            واحد اجرا شده:  <b contenteditable="true" oninput="UpdateMarhaleValue(this.innerText, 9, {{ id }})" >{{ project.marhale9accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <div class="result_value">
                                میزان باقیمانده: <b>{{ project.marhale9full|menha:project.marhale9accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            </div>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale9accomplished|darsad:project.marhale9full }}%"></div>
                            </div>
                        {% elif forloop.counter == 10 %}
                            <p class="desc" contenteditable="true" onfocusout="UpdateMarhaleDesc(this.innerText, 10, {{ id }})" >{{ project.marhale10 }}</p>
                            <div class="full">واحد کل: <b>{{ project.marhale10full }}</b> <small>{{ spdtmejra.vahed }}</small></div>
                            واحد اجرا شده:  <b contenteditable="true" oninput="UpdateMarhaleValue(this.innerText, 10, {{ id }})" >{{ project.marhale10accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <div class="result_value">
                                میزان باقیمانده: <b>{{ project.marhale10full|menha:project.marhale10accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            </div>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale10accomplished|darsad:project.marhale10full }}%"></div>
                            </div>
                        {% elif forloop.counter == 11 %}
                            <p class="desc" contenteditable="true" onfocusout="UpdateMarhaleDesc(this.innerText, 11, {{ id }})" >{{ project.marhale11 }}</p>
                            <div class="full">واحد کل: <b>{{ project.marhale11full }}</b> <small>{{ spdtmejra.vahed }}</small></div>
                            واحد اجرا شده:  <b contenteditable="true" oninput="UpdateMarhaleValue(this.innerText, 11, {{ id }})" >{{ project.marhale11accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <div class="result_value">
                                میزان باقیمانده: <b>{{ project.marhale11full|menha:project.marhale11accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            </div>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale11accomplished|darsad:project.marhale11full }}%"></div>
                            </div>
                        {% elif forloop.counter == 12 %}
                            <p class="desc" contenteditable="true" onfocusout="UpdateMarhaleDesc(this.innerText, 12, {{ id }})" >{{ project.marhale12 }}</p>
                            <div class="full">واحد کل: <b>{{ project.marhale12full }}</b> <small>{{ spdtmejra.vahed }}</small></div>
                            واحد اجرا شده:  <b contenteditable="true" oninput="UpdateMarhaleValue(this.innerText, 12, {{ id }})" >{{ project.marhale12accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <div class="result_value">
                                میزان باقیمانده: <b>{{ project.marhale12full|menha:project.marhale12accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            </div>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale12accomplished|darsad:project.marhale12full }}%"></div>
                            </div>
                        {% elif forloop.counter == 13 %}
                            <p class="desc" contenteditable="true" onfocusout="UpdateMarhaleDesc(this.innerText, 13, {{ id }})" >{{ project.marhale13 }}</p>
                            <div class="full">واحد کل: <b>{{ project.marhale13full }}</b> <small>{{ spdtmejra.vahed }}</small></div>
                            واحد اجرا شده:  <b contenteditable="true" oninput="UpdateMarhaleValue(this.innerText, 13, {{ id }})" >{{ project.marhale13accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <div class="result_value">
                                میزان باقیمانده: <b>{{ project.marhale13full|menha:project.marhale13accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            </div>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale13accomplished|darsad:project.marhale13full }}%"></div>
                            </div>
                        {% elif forloop.counter == 14 %}
                            <p class="desc" contenteditable="true" onfocusout="UpdateMarhaleDesc(this.innerText, 14, {{ id }})" >{{ project.marhale14 }}</p>
                            <div class="full">واحد کل: <b>{{ project.marhale14full }}</b> <small>{{ spdtmejra.vahed }}</small></div>
                            واحد اجرا شده:  <b contenteditable="true" oninput="UpdateMarhaleValue(this.innerText, 14, {{ id }})" >{{ project.marhale14accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <div class="result_value">
                                میزان باقیمانده: <b>{{ project.marhale14full|menha:project.marhale14accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            </div>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale14accomplished|darsad:project.marhale14full }}%"></div>
                            </div>
                        {% elif forloop.counter == 15 %}
                            <p class="desc" contenteditable="true" onfocusout="UpdateMarhaleDesc(this.innerText, 15, {{ id }})" >{{ project.marhale15 }}</p>
                            <div class="full">واحد کل: <b>{{ project.marhale15full }}</b> <small>{{ spdtmejra.vahed }}</small></div>
                            واحد اجرا شده:  <b contenteditable="true" oninput="UpdateMarhaleValue(this.innerText, 15, {{ id }})" >{{ project.marhale15accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <div class="result_value">
                                میزان باقیمانده: <b>{{ project.marhale15full|menha:project.marhale15accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            </div>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale15accomplished|darsad:project.marhale15full }}%"></div>
                            </div>
                        {% elif forloop.counter == 16 %}
                            <p class="desc" contenteditable="true" onfocusout="UpdateMarhaleDesc(this.innerText, 16, {{ id }})" >{{ project.marhale16 }}</p>
                            <div class="full">واحد کل: <b>{{ project.marhale16full }}</b> <small>{{ spdtmejra.vahed }}</small></div>
                            واحد اجرا شده:  <b contenteditable="true" oninput="UpdateMarhaleValue(this.innerText, 16, {{ id }})" >{{ project.marhale16accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <div class="result_value">
                                میزان باقیمانده: <b>{{ project.marhale16full|menha:project.marhale16accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            </div>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale16accomplished|darsad:project.marhale16full }}%"></div>
                            </div>
                        {% elif forloop.counter == 17 %}
                            <p class="desc" contenteditable="true" onfocusout="UpdateMarhaleDesc(this.innerText, 17, {{ id }})" >{{ project.marhale17 }}</p>
                            <div class="full">واحد کل: <b>{{ project.marhale17full }}</b> <small>{{ spdtmejra.vahed }}</small></div>
                            واحد اجرا شده:  <b contenteditable="true" oninput="UpdateMarhaleValue(this.innerText, 17, {{ id }})" >{{ project.marhale17accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <div class="result_value">
                                میزان باقیمانده: <b>{{ project.marhale17full|menha:project.marhale17accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            </div>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale17accomplished|darsad:project.marhale17full }}%"></div>
                            </div>
                        {% elif forloop.counter == 18 %}
                            <p class="desc" contenteditable="true" onfocusout="UpdateMarhaleDesc(this.innerText, 18, {{ id }})" >{{ project.marhale18 }}</p>
                            <div class="full">واحد کل: <b>{{ project.marhale18full }}</b> <small>{{ spdtmejra.vahed }}</small></div>
                            واحد اجرا شده:  <b contenteditable="true" oninput="UpdateMarhaleValue(this.innerText, 18, {{ id }})" >{{ project.marhale18accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <div class="result_value">
                                میزان باقیمانده: <b>{{ project.marhale18full|menha:project.marhale18accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            </div>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale18accomplished|darsad:project.marhale18full }}%"></div>
                            </div>
                        {% elif forloop.counter == 19 %}
                            <p class="desc" contenteditable="true" onfocusout="UpdateMarhaleDesc(this.innerText, 19, {{ id }})" >{{ project.marhale19 }}</p>
                            <div class="full">واحد کل: <b>{{ project.marhale19full }}</b> <small>{{ spdtmejra.vahed }}</small></div>
                            واحد اجرا شده:  <b contenteditable="true" oninput="UpdateMarhaleValue(this.innerText, 19, {{ id }})" >{{ project.marhale19accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <div class="result_value">
                                میزان باقیمانده: <b>{{ project.marhale19full|menha:project.marhale19accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            </div>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale19accomplished|darsad:project.marhale19full }}%"></div>
                            </div>
                        {% elif forloop.counter == 20 %}
                            <p class="desc" contenteditable="true" onfocusout="UpdateMarhaleDesc(this.innerText, 20, {{ id }})" >{{ project.marhale20 }}</p>
                            <div class="full">واحد کل: <b>{{ project.marhale20full }}</b> <small>{{ spdtmejra.vahed }}</small></div>
                            واحد اجرا شده:  <b contenteditable="true" oninput="UpdateMarhaleValue(this.innerText, 20, {{ id }})" >{{ project.marhale20accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <div class="result_value">
                                میزان باقیمانده: <b>{{ project.marhale20full|menha:project.marhale20accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            </div>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale20accomplished|darsad:project.marhale20full }}%"></div>
                            </div>
                        {% elif forloop.counter == 21 %}
                            <p class="desc" contenteditable="true" onfocusout="UpdateMarhaleDesc(this.innerText, 21, {{ id }})" >{{ project.marhale21 }}</p>
                            <div class="full">واحد کل: <b>{{ project.marhale21full }}</b> <small>{{ spdtmejra.vahed }}</small></div>
                            واحد اجرا شده:  <b contenteditable="true" oninput="UpdateMarhaleValue(this.innerText, 21, {{ id }})" >{{ project.marhale21accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <div class="result_value">
                                میزان باقیمانده: <b>{{ project.marhale21full|menha:project.marhale21accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            </div>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale21accomplished|darsad:project.marhale21full }}%"></div>
                            </div>
                        {% elif forloop.counter == 22 %}
                            <p class="desc" contenteditable="true" onfocusout="UpdateMarhaleDesc(this.innerText, 22, {{ id }})" >{{ project.marhale22 }}</p>
                            <div class="full">واحد کل: <b>{{ project.marhale22full }}</b> <small>{{ spdtmejra.vahed }}</small></div>
                            واحد اجرا شده:  <b contenteditable="true" oninput="UpdateMarhaleValue(this.innerText, 22, {{ id }})" >{{ project.marhale22accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <div class="result_value">
                                میزان باقیمانده: <b>{{ project.marhale22full|menha:project.marhale22accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            </div>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale22accomplished|darsad:project.marhale22full }}%"></div>
                            </div>
                        {% elif forloop.counter == 23 %}
                            <p class="desc" contenteditable="true" onfocusout="UpdateMarhaleDesc(this.innerText, 23, {{ id }})" >{{ project.marhale23 }}</p>
                            <div class="full">واحد کل: <b>{{ project.marhale23full }}</b> <small>{{ spdtmejra.vahed }}</small></div>
                            واحد اجرا شده:  <b contenteditable="true" oninput="UpdateMarhaleValue(this.innerText, 23, {{ id }})" >{{ project.marhale23accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <div class="result_value">
                                میزان باقیمانده: <b>{{ project.marhale23full|menha:project.marhale23accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            </div>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale23accomplished|darsad:project.marhale23full }}%"></div>
                            </div>
                        {% elif forloop.counter == 24 %}
                            <p class="desc" contenteditable="true" onfocusout="UpdateMarhaleDesc(this.innerText, 24, {{ id }})" >{{ project.marhale24 }}</p>
                            <div class="full">واحد کل: <b>{{ project.marhale24full }}</b> <small>{{ spdtmejra.vahed }}</small></div>
                            واحد اجرا شده:  <b contenteditable="true" oninput="UpdateMarhaleValue(this.innerText, 24, {{ id }})" >{{ project.marhale24accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <div class="result_value">
                                میزان باقیمانده: <b>{{ project.marhale24full|menha:project.marhale24accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            </div>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale24accomplished|darsad:project.marhale24full }}%"></div>
                            </div>
                        {% elif forloop.counter == 25 %}
                            <p class="desc" contenteditable="true" onfocusout="UpdateMarhaleDesc(this.innerText, 25, {{ id }})" >{{ project.marhale25 }}</p>
                            <div class="full">واحد کل: <b>{{ project.marhale25full }}</b> <small>{{ spdtmejra.vahed }}</small></div>
                            واحد اجرا شده:  <b contenteditable="true" oninput="UpdateMarhaleValue(this.innerText, 25, {{ id }})" >{{ project.marhale25accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            <div class="result_value">
                                میزان باقیمانده: <b>{{ project.marhale25full|menha:project.marhale25accomplished }}</b> <small>{{ spdtmejra.vahed }}</small>
                            </div>
                            <br>
                            <div class="progress">
                                <div class="determinate" style="width: {{ project.marhale25accomplished|darsad:project.marhale25full }}%"></div>
                            </div>
                        {% endif %}
                    </span>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock RightContent %}

{% block BottomContent %}
{% endblock BottomContent %}


{% block scripts %}

    function updateNoteText(selfObject,PID){
        var xhttp = new XMLHttpRequest();
        xhttp.onload = function() {
            var HtmlToast = '<span>یادداشت ذخیره شد</span><button class="btn-flat toast-action">بازگشت</button>';
            M.toast({html: HtmlToast, classes: 'rounded'});
        }
        xhttp.open("POST", "/api/project/");
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("project="+PID+"&csrfmiddlewaretoken={{ csrf_token }}&note="+selfObject.value);
    }

    function UpdateMarhaleValue(Text, Level, PID){
        var xhttp = new XMLHttpRequest();
        xhttp.onload = function() {
            var HtmlToast = '<span>مرحله '+Level+' به '+Text+' تغییر کرد</span><button class="btn-flat toast-action" onclick="document.location.reload()">بارگزاری مجدد نتایج</button>';
            M.toast({html: HtmlToast, classes: 'rounded'});
        }
        xhttp.open("POST", "/api/project/");
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("level="+Level+"&project="+PID+"&csrfmiddlewaretoken={{ csrf_token }}&text="+Text);
    }

    function UpdateMarhaleDesc(Text, Level, PID){
        var xhttp = new XMLHttpRequest();
        xhttp.onload = function() {
            var HtmlToast = '<span>توضیحات مرحله '+Level+' به '+Text+' تغییر کرد</span><button class="btn-flat toast-action" onclick="document.location.reload()">بارگزاری مجدد نتایج</button>';
            M.toast({html: HtmlToast, classes: 'rounded'});
        }
        xhttp.open("POST", "/api/project/");
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("level="+Level+"&project="+PID+"&csrfmiddlewaretoken={{ csrf_token }}&desc="+Text);
    }

    var map = new ol.Map({
        target: 'map',
        layers: [
            new ol.layer.Tile({
                source: new ol.source.OSM()
            })
        ],
        view: new ol.View({
            center: ol.proj.fromLonLat([{{ lng }},{{ lat }}]),
            zoom: 14
        })
    });

  $(document).ready(function(){

    var elem = document.querySelector('.collapsible.expandable');
    var instance = M.Collapsible.init(elem, {
      accordion: false
    });

  });


{% endblock scripts %}
