{% extends "base.html" %}

{% block title %}کنترل پروژه آب رسانی - نمایش پروژه ها{% endblock %}
{% block MenuTitle %}کنترل پروژه آب رسانی - نمایش پروژه ها{% endblock %}

{% block UnderMap %}
    <style>
        .map {
            filter: blur(6px) brightness(1.1) saturate(1.2) sepia(0.1);
        }

        .all_projects figure {
            display: inline-grid ;
            position: relative;
            width: calc( 20% - 24px );
            border: 2px solid #ddd;
            padding: 14px;
            background-color: #fff5;
            margin: 12px;
            direction: rtl;
        }

        .all_projects figure .bg_img {
            position: absolute;
            left: 0;
            top: 0;
            filter: blur(2.5px) opacity(0.3);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>



{% endblock UnderMap %}

{% block LeftContent %}
{% endblock LeftContent %}

{% block BottomContent %}

    <div class="all_projects row">
        {% for pd in projects_data %}
            <figure class="" >
                <img src="{{ pd.photo }}" alt="{{ pd.title }}" class="bg_img">
                <a style="width: 100%;" class="row tooltipped" href="../project/{{ pd.slug }}" title="{{ pd.title }}" data-position="top" data-tooltip="تاریخ نهایی تحویل پروژه: {{ pd.date_end }}">
                    <figcaption class="title" style="color: black;">{{ pd.title }}</figcaption>
                    <div class="progress green lighten-4">
                        <div class="determinate green " style="width: {{ pd.miangin_pishraft }}%"></div>
                    </div>
                    <ul class="collection" style="padding: 0;">
                        {% for spd in pd.sub_projects %}
                            <li class="collection-item tooltipped" data-position="right" data-tooltip="تاریخ تحویل این زیر پروژه: {{ spd.date_end }}">
                                {{ spd.title }}
                                <div class="progress">
                                    <div class="determinate" style="width: {{ spd.pishrafte_kol }}%"></div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </a>
            </figure>
        {% endfor %}
    </div>

{% endblock BottomContent %}


{% block scripts %}

  var map = new ol.Map({
    target: 'map',
    layers: [
      new ol.layer.Tile({
        source: new ol.source.OSM()
      })
    ],
    view: new ol.View({
      center: ol.proj.fromLonLat([52.5745685,29.6291444]),
      zoom: 8
    })
  });

{% endblock scripts %}
