{% extends "base.html" %}
{% load saelozahra_tags %}

{% block title %} کنترل پروژه آب رسانی -  {{ project.title }} {% endblock %}
{% block MenuTitle %}
    <i class="material-icons">reply</i>
    <div style="float: left">{{ project.title }}</div>
{% endblock %}


{% block UnderMap %}
    <style>
        .map {
            filter: blur(6px) brightness(1.1) saturate(1.2) sepia(0.1);
        }
        .collection a, .secondary-content {
            color: whitesmoke;
        }
        .gradient_hover {
            background: linear-gradient(#fff2, #fff4);
            width: 100%;
            position: absolute;
            left: 0;
            top: -5%;
            height: 110%;
            z-index: 0;
            transform: skewX(-4deg) translateX(0px);
        }

        .timeline_outer {
            content: "";
            position: absolute;
            left: 0;
            bottom: 3px;
            height: 5px;
            background-color: var(--color_secondary_light);
            width: 100%;
            z-index: -1;
            margin: auto;
        }

        #timeline {
            bottom: 0;
            position: absolute;
            margin-bottom: 0;
            display: flex !important;
            flex-direction: row;
            justify-content: center;
            width: 66%;
        }
        .tear {
            width: 50px;
            height: 50px;
            border-radius: 0 50% 50% 50%;
            border: 3px solid var(--color_secondary);
            background-color: var(--color_secondary_light);
            transform: rotate(230deg) translateY(24px);
            margin-top: 33px;
            margin-bottom: 4px;
        }
        .tear div {
            transform: rotate(88deg) translateX(0px) translateY(-3px);
            text-shadow: 1px 1px 2px white;
        }
    </style>



    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a id="menu" class="btn btn-floating btn-large" style="background-color: var(--color_secondary)" onclick="$('.tap-target').tapTarget('open')">
        <i class="material-icons">timeline</i>
      </a>
    </div>

    <div class="tap-target" data-target="menu">
      <div class="tap-target-content white-text">
        <h5>خط مرگ</h5>
        <p class="white-text">این پروژه در تاریخ <b>{{ project.date_start }}</b> شروع شده
            <br>
            و باید در تاریخ <b>{{ project.date_end }}</b> به پایان برسد
            <br>
            اما تا کنون <b>{{ project.pishrafte_kol }}%</b> از زیر پروژه ها پیشرفت داشته اند
        </p>
      </div>
    </div>

{% endblock UnderMap %}

{% block LeftContent %}
      <div class="row" style="padding: 0 3px;">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
                {% if project.team.avatar %}
                    <img src="{{ project.team.avatar.url}}" alt="" class="circle responsive-img">
                {% else %}
                    <img src="/static/Male-placeholder.jpeg" alt="" class="circle responsive-img">
                {% endif %}
            </div>
            <div class="col s10" style="text-align: right">
                <h5 style="margin: auto">سرپرست کارگاه</h5>
                <br>
                <span class="black-text">
                    {{ project.team.get_full_name}} | {{ project.team.city}}
                </span>
                <a class="left btn-floating btn-small green darken-4" style="margin-right: 8px; margin-top: -14px;" href="tel:{{ project.team.phone}}">
                    <i class="material-icons">call</i>
                </a>
                <a class="left btn-floating btn-small green darken-4" style="margin-left: 8px; margin-top: -14px;" href="tel:{{ project.team.email}}">
                    <i class="material-icons">mail</i>
                </a>
                {% if request.user.username != project.team.username %}
                    <a class="btn-floating btn-small pulse left green darken-4" style="margin-left: 18px; margin-top: -14px;" href="../../chat/{{ request.user.username }}/{{ project.team.username}}">
                        <i class="material-icons">chat</i>
                    </a>
                {% endif %}
            </div>
          </div>
        </div>
      </div>



    <div class="collection with-header">
        <li class="collection-header" style="text-align: right;"><h5><b>مستندات</b> {{ project.title }}</h5></li>
        <ul class="collapsible popout" style="padding: 14px;">

            {% for pdoc in project.Documents.values %}
                <li>
                    <div class="collapsible-header"><i class="material-icons">{{ pdoc.MDIIcon }}</i>{{ pdoc.DocType|pd_name }}</div>
                    <div class="collapsible-body">
                        <span>
                            <a data-lightbox="lb" data-title="{{ pdoc.DocType|pd_name }}" href="/files/{{ pdoc.photo }}" >
                                <img style="max-width: 100%" src="/files/{{ pdoc.photo }}" alt="{{ pdoc.DocName }}">
                            </a>
                            <br>
                            <p class="row">{{ pdoc.DocName }}</p>
                            <a download="" href="/files/{{ pdoc.photo }}" class="waves-effect waves-light btn-small" style="background-color: var(--color_secondary)">
                                <i class="material-icons right">download</i>
                                لینک دانلود
                            </a>
                        </span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    {% if user.is_superuser %}
        <ul class="collection with-header">
            <li class="collection-header tar"><h4>یادداشت مدیریتی</h4></li>
            <li class="collection-item rtl" style="padding: 0;">
                <textarea class="row" placeholder="یادداشت" onchange="updateNoteText(this,'{{ id }}');" style="border: 0 none; width: 100%; min-height: 110px; min-width: 100%;margin: auto;" >{{ project.note }}</textarea>
            </li>
        </ul>
    {% endif %}

{% endblock LeftContent %}

{% block LeftBoxWidth %}48%{% endblock LeftBoxWidth %}

{% block RightContent %}
    <ul class="collapsible expandable popout project_marhale_loop" style="direction: rtl;">
    {% for spdtmejra in project.type.marhalel_ejra_s.values %}
            <li class="tooltipped" data-position="bottom" >
                <div class="collapsible-header" style="position:relative;">
                    <span class="gradient_hover" ></span>
                    <span style="z-index: 1;position: relative;width: 100%;display: inline-flex;">
                        {{ forloop.counter|filter_number_icon|safe }}  {{ spdtmejra.marhale }}
                    </span>
                </div>
                <div class="collapsible-body">
                    <span style="user-select: none">
                        {% include "project_marhale_partial.html" with m=id|marhale_desc:forloop.counter m_accomplished=id|marhale_accomplished:forloop.counter m_full=id|marhale_full:forloop.counter %}
                    </span>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock RightContent %}

{% block BottomContent %}
    <div class="row timeline_outer">
    </div>
    <div id="timeline" class="owl-carousel owl-theme" >
        {% for tld in tl_day %}
            <div class="tli">
                <button class="tear modal-trigger" href="#modal{{ tld }}">
                    <div>{{ tld|replace:"-|/" }}</div>
                </button>
            </div>
        {% endfor %}
    </div>




    {% for tld in tl_day %}
        <div id="modal{{ tld }}" class="modal rtl">
            <div class="modal-content">
              <h4>رویدادهای {{ tld|replace:"-|/" }}</h4>
              <p>
                <ol>
                    {% for ef in tl_day.values %}
                        {% for e in ef %}
                            {% if e.day|slugify == tld|slugify %}
                                <li>در <b> {{ e.do_time }} </b>وضعیت: <b style="color: darkred">  {{ e.description }} </b>  برای پروژه  <b>{{ e.RelatedProject }}</b> توسط <b>  {{ e.OwnerUser }} </b> ثبت شد</li>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </ol>
              </p>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-close waves-effect waves-green btn-flat">یا علی</a>
            </div>
        </div>
    {% endfor %}


{% endblock BottomContent %}


{% block scripts %}

    function updateNoteText(selfObject,PID){
        var xhttp = new XMLHttpRequest();
        xhttp.onload = function() {
            var HtmlToast = '<span>یادداشت ذخیره شد</span><button class="btn-flat toast-action">بازگشت</button>';
            M.toast({html: HtmlToast, classes: 'rounded'});
        }
        xhttp.open("POST", "/api/project/");
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("project="+PID+"&csrfmiddlewaretoken={{ csrf_token }}&note="+selfObject.value);
    }

    function UpdateMarhaleValue(Text, Level, PID){
        var xhttp = new XMLHttpRequest();
        xhttp.onload = function() {
            var HtmlToast = '<span>مرحله '+Level+' به '+Text+' تغییر کرد</span><button class="btn-flat toast-action" onclick="document.location.reload()">بارگزاری مجدد نتایج</button>';
            M.toast({html: HtmlToast, classes: 'rounded'});
        }
        xhttp.open("POST", "/api/project/");
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("level="+Level+"&project="+PID+"&csrfmiddlewaretoken={{ csrf_token }}&text="+Text);
    }

    function UpdateMarhaleDesc(Text, Level, PID){
        var xhttp = new XMLHttpRequest();
        xhttp.onload = function() {
            var HtmlToast = '<span>توضیحات مرحله '+Level+' به '+Text+' تغییر کرد</span><button class="btn-flat toast-action" onclick="document.location.reload()">بارگزاری مجدد نتایج</button>';
            M.toast({html: HtmlToast, classes: 'rounded'});
        }
        xhttp.open("POST", "/api/project/");
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("level="+Level+"&project="+PID+"&csrfmiddlewaretoken={{ csrf_token }}&desc="+Text);
    }

    var map = new ol.Map({
        target: 'map',
        layers: [
            new ol.layer.Tile({
                source: new ol.source.OSM()
            })
        ],
        view: new ol.View({
            center: ol.proj.fromLonLat([{{ lng }},{{ lat }}]),
            zoom: 14
        })
    });

  $(document).ready(function(){

    var elem = document.querySelector('.collapsible.expandable');
    var instance = M.Collapsible.init(elem, {
      accordion: false
    });

    var owl = $('#timeline');
    owl.owlCarousel({
        items: 4,
        center: true,
{#        autoWidth: true,#}
        dots: false,
    })
    owl.on('mousewheel', '.owl-stage', function (e) {
        if (e.deltaY>0) {
            owl.trigger('next.owl');
        } else {
            owl.trigger('prev.owl');
        }
        e.preventDefault();
    });

  });


{% endblock scripts %}
