{% extends "base.html" %}

{% block title %} کنترل پروژه آب رسانی -  {{ projects_data.title }} {% endblock %}
{% block MenuTitle %}
    <div style="float: left;margin-right: 8px">
        {% for spd in projects_data.this_single_sub_projects %}
            {{ spd.title }}
        {% endfor %}
    </div>
    <i class="material-icons">reply</i>
    <div style="float: left">{{ projects_data.title }}</div>
{% endblock %}


{% block UnderMap %}
    <style>
      .map {
        filter: blur(6px) brightness(1.1) saturate(1.2) sepia(0.1);
      }
    </style>



    <div class="progress full_progress">
        <div class="determinate" style="width: {{ projects_data.miangin_pishraft }}%"></div>
    </div>

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a id="menu" class="btn btn-floating btn-large" style="background-color: var(--color_secondary)" onclick="$('.tap-target').tapTarget('open')">
        <i class="material-icons">timeline</i>
      </a>
    </div>

    <div class="tap-target" data-target="menu">
      <div class="tap-target-content white-text">
        <h5>خط مرگ</h5>
        <p class="white-text">این پروژه در تاریخ <b>{{ projects_data.date_start }}</b> شروع شده
            <br>
            و باید در تاریخ <b>{{ projects_data.date_end }}</b> به پایان برسد
            <br>
            اما تا کنون <b>{{ projects_data.miangin_pishraft }}%</b> از زیر پروژه ها پیشرفت داشته اند
        </p>
      </div>
    </div>

{% endblock UnderMap %}

{% block LeftContent %}
    <ul class="collection with-header">
        <li class="collection-header" style="direction: rtl;"><h5>زیرپروژه های دیگر از {{ projects_data.title }}</h5></li>
        {% for pd in projects_data.subprojects %}
            <li class="collection-item avatar ">
                <a href="../{{ projects_data.slug }}/{{ pd.id }}">
                    <img src="{{ pd.photo }}" alt="" class="circle">
                    <span class="title">{{ pd.title }}</span>
                    <p>{{ pd.city }} - {{ pd.date_end }}</p>
                </a>
                <a href="./{{ projects_data.slug }}/{{ pd.id }}" class="secondary-content waves-effect waves-light" style="margin-top: 5px;margin-right: -8px;">{{ pd.icon|safe }}</a>
                <div class="progress">
                    <div class="determinate" style="width: {{ pd.pishrafte_kol }}%"></div>
                </div>
            </li>
        {% endfor %}
    </ul>
    <br>
    <br>
    <ul class="collapsible popout">
    {% for spd in projects_data.this_single_sub_projects %}
        <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>نقشه اجرا پروژه</div>
            <div class="collapsible-body">
                <span>
                    <img style="max-width: 100%" src="{{ spd.naghshe.url }}">
                    <br>
                    <a download="" href="{{ spd.naghshe.url }}" class="waves-effect waves-light btn-small" style="background-color: var(--color_secondary)">
                        <i class="material-icons right">download</i>
                        لینک دانلود
                    </a>
                </span>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>مجوز پروژه</div>
            <div class="collapsible-body">
                <span>
                    <img style="max-width: 100%" src="{{ spd.mojavez.url }}">
                    <br>
                    <a download="" href="{{ spd.mojavez.url }}" class="waves-effect waves-light btn-small" style="background-color: var(--color_secondary)">
                        <i class="material-icons right">download</i>
                        لینک دانلود
                    </a>
                </span>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">place</i>مستندات پروژه</div>
            <div class="collapsible-body">
                <span>
                    <img style="max-width: 100%" src="{{ spd.mostanadat.url }}">
                    <br>
                    <a download="" href="{{ spd.mostanadat.url }}" class="waves-effect waves-light btn-small" style="background-color: var(--color_secondary)">
                        <i class="material-icons right">download</i>
                        لینک دانلود
                    </a>
                </span>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">whatshot</i>فایل های پروژه</div>
            <div class="collapsible-body">
                <span>
                    <img style="max-width: 100%" src="{{ spd.file_ha.url }}">
                    <br>
                    <a download="" href="{{ spd.file_ha.url }}" class="waves-effect waves-light btn-small" style="background-color: var(--color_secondary)">
                        <i class="material-icons right">download</i>
                        لینک دانلود
                    </a>
                </span>
            </div>
        </li>
    {% endfor %}
    </ul>
{% endblock LeftContent %}

{% block LeftBoxWidth %}48%{% endblock LeftBoxWidth %}

{% block RightContent %}
    <ul class="collapsible popout">
    {% for spd in projects_data.this_single_sub_projects %}
        <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>مرحله 1</div>
            <div class="collapsible-body"> <span>{{ spd.marhale1 }}</span> </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>مرحله 2</div>
            <div class="collapsible-body"> <span>{{ spd.marhale2 }}</span> </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>مرحله 3</div>
            <div class="collapsible-body"> <span>{{ spd.marhale3 }}</span> </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>مرحله 4</div>
            <div class="collapsible-body"> <span>{{ spd.marhale4 }}</span> </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>مرحله 5</div>
            <div class="collapsible-body"> <span>{{ spd.marhale5 }}</span> </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>مرحله 6</div>
            <div class="collapsible-body"> <span>{{ spd.marhale6 }}</span> </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>مرحله 7</div>
            <div class="collapsible-body"> <span>{{ spd.marhale7 }}</span> </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>مرحله 8</div>
            <div class="collapsible-body"> <span>{{ spd.marhale8 }}</span> </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>مرحله 9</div>
            <div class="collapsible-body"> <span>{{ spd.marhale9 }}</span> </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>مرحله 10</div>
            <div class="collapsible-body"> <span>{{ spd.marhale10 }}</span> </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>مرحله 11</div>
            <div class="collapsible-body"> <span>{{ spd.marhale11 }}</span> </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>مرحله 12</div>
            <div class="collapsible-body"> <span>{{ spd.marhale12 }}</span> </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>مرحله 13</div>
            <div class="collapsible-body"> <span>{{ spd.marhale13 }}</span> </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>مرحله 14</div>
            <div class="collapsible-body"> <span>{{ spd.marhale14 }}</span> </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>مرحله 15</div>
            <div class="collapsible-body"> <span>{{ spd.marhale15 }}</span> </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>مرحله 16</div>
            <div class="collapsible-body"> <span>{{ spd.marhale16 }}</span> </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>مرحله 17</div>
            <div class="collapsible-body"> <span>{{ spd.marhale17 }}</span> </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>مرحله 18</div>
            <div class="collapsible-body"> <span>{{ spd.marhale18 }}</span> </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>مرحله 19</div>
            <div class="collapsible-body"> <span>{{ spd.marhale19 }}</span> </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>مرحله 20</div>
            <div class="collapsible-body"> <span>{{ spd.marhale20 }}</span> </div>
        </li>
    {% endfor %}
    </ul>
{% endblock RightContent %}

{% block BottomContent %}
{% endblock BottomContent %}


{% block scripts %}

  var map = new ol.Map({
    target: 'map',
    layers: [
      new ol.layer.Tile({
        source: new ol.source.OSM()
      })
    ],
    view: new ol.View({
      center: ol.proj.fromLonLat([{{ projects_data.lng }},{{ projects_data.lat }}]),
      zoom: 14
    })
  });



    $(document).ready(function(){
        $('.tap-target').tapTarget();
        $('.collapsible').collapsible();
        $('.modal').modal();
    });

{% endblock scripts %}
