/files/
/staticfiles/
/main/migrations/
/static/admin/css/vendor/
/static/admin/css/login.css
/static/admin/css/changelists.css
/static/admin/css/responsive.css
/static/admin/css/widgets.css
/static/admin/css/responsive_rtl.css
/static/admin/css/forms.css
/static/admin/css/main.css
/static/admin/css/nav_sidebar.css
/static/admin/css/autocomplete.css
/static/admin/css/dashboard.css
/static/admin/img/
/static/admin/jquery.ui.datepicker.jalali/
/static/admin/js/
/static/admin/main.js
/static/location_field/
