{% extends "base.html" %}

{% block title %} کنترل پروژه آب رسانی -  پیامها {% endblock %}
{% block MenuTitle %} کنترل پروژه آب رسانی -  پیام ها {% endblock %}

{% block UnderMap %}
    <style>
      .map {
        filter: blur(6px) brightness(1.1) saturate(1.2) sepia(0.1);
      }
    </style>

{% endblock UnderMap %}

{% block LeftContent %}
    <ul class="collection with-header">
        <li class="collection-header" style="direction: rtl;"><h4> تیکت های {{ request.user.first_name }} {{ request.user.last_name }}</h4></li>
        {% for t in tickets %}
            <li class="collection-item ">
                <a href="./{{ t.id }}">
                    <span class="title">{{ t.title }}</span>
                </a>
                <a href="./{{ t.id }}" class="secondary-content waves-effect waves-light" style="margin-top: 5px;margin-right: -8px;">send</a>
            </li>
        {% endfor %}
    </ul>
{% endblock LeftContent %}

{% block LeftBoxWidth %}48%{% endblock LeftBoxWidth %}


{% block BottomContent %}
{% endblock BottomContent %}


{% block scripts %}

    var map = new ol.Map({
        target: 'map',
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          })
        ],
        view: new ol.View({
          center: ol.proj.fromLonLat([{{ projects_data.lng }},{{ projects_data.lat }}]),
          zoom: 14
        })
    });

{% endblock scripts %}
