{% extends 'admin/base.html' %}
{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            {{ site_header|default:_('Django administration') }}
            {{ block.super }}
        </a>
    </h1>

{% endblock %}


{% block userlinks %}
    {% if site_url %}
        <a href="{{ site_url }}#project">مدیریت پروژه</a>
    {% endif %}
    {{ block.super }}
{% endblock %}

{% block extrastyle %}
    {{ block.super }}

<link type="text/css" rel="stylesheet" href="/static/fonts/sahel/font-face.css" />

<style>
    :root {
      --primary: #ee6e73;
      --secondary: rgba(238, 110, 115, 0.9);
      --link-fg: #d76266;
      --link-selected-fg: #96494d;
    }
    .skip-to-content-link {
        display: none;
    }
    #logout-form {
        float: left;
    }
    #logout-form button {
        background-color: var(--link-fg);
        border: none;
        margin: auto 5px;
        padding: 4px 9px;
    }
    a[href="{{ site_url }}"] {
        display: none;
    }
    body, code, pre, input, textarea, select, .form-row p, form .button {
        font-family: "sahel";
    }
    .dynamic-inquiry_set td {
        max-width: 162px;
    }
    .field-StoreAddress textarea{
        max-width: 100%;
        width: 280px;
        height: 280px;
    }
    .vTextField {
        max-width: 100%;
    }
</style>
{% endblock %}