{% extends 'admin/base.html' %}
{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            {{ site_header|default:_('Django administration') }}
            {{ block.super }}
        </a>
    </h1>

{% endblock %}

{% block extrastyle %}
    {{ block.super }}

<link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/gh/rastikerdar/sahel-font@v3.4.0/dist/font-face.css" />

<style>
:root {
  --primary: #ee6e73;
  --secondary: rgba(238, 110, 115, 0.9);
  --link-fg: #d76266;
  --link-selected-fg: #96494d;
}



{#@font-face {#}
{#    font-family: 'sahel';#}
{#    src: url('/static/fonts/sahel/Sahel-Black-FD-WOL.woff');#}
{#    font-weight: 700;#}
{#    font-style: normal;#}
{#}#}
{##}
{#@font-face {#}
{#    font-family: 'sahel';#}
{#    src: url('/static/fonts/sahel/Sahel-FD-WOL.woff');#}
{#    font-weight: 400;#}
{#    font-style: normal;#}
{#}#}
{##}
{#@font-face {#}
{#    font-family: 'sahel';#}
{#    src: url('/static/fonts/sahel/Sahel-Light-FD-WOL.woff');#}
{#    font-weight: 300;#}
{#    font-style: normal;#}
{#}#}

body, code, pre, input, textarea, select, .form-row p, form .button {
    font-family: "sahel";
}
</style>
{% endblock %}