.model-project fieldset.module {
	list-style: none;
	counter-reset: item;
}

.field-location .flex-container{
	display: block;
}

.model-project .marahel .form-row:nth-child(n+2) {
	width: 30%;
	display: inline-block;
	margin-top: -6px;
	border-left: 1px solid #fff2;
	box-sizing: border-box;
}

.model-project .marahel .form-row:nth-child(3n+3) {
    counter-increment: item;
	list-style-type: circle;
}

.model-project .marahel .form-row:nth-child(3n+3)::before {
	margin-right: -5px;
	content: counter(item);
	background: var(--primary);
	border-radius: 100%;
	color: white;
	width: 2em;
	text-align: center;
	display: inline-block;
	height: 2em;
	line-height: 2;
	float: right;
	margin-left: 10px;
}


.model-project .marahel .form-row:last-child::before {
	content: "";
	background: transparent;
	width: auto;
	height: auto;
}



#map_location {
	width: 100% !important;
	height: 500px !important;
	border-radius: 18px;
}