.model-project fieldset.module {
	list-style: none;
	counter-reset: item;
}

.model-project .form-row:nth-child(n+10) {
	width: 30%;
	display: inline-block;
	margin-top: -6px;
	border-left: 1px solid #fff2;
	box-sizing: border-box;
}

.model-project .form-row:nth-child(3n+10) {
    counter-increment: item;
	list-style-type: circle;
}
.model-project .form-row:nth-child(3n+12) {
    border-left: 0;
}
.model-project .form-row:nth-child(9) {
	margin-bottom: 72px;
}
.model-project .form-row:nth-child(10) {
	padding-top: 50px;
}
.model-project .form-row:nth-child(10)::after {
	content: "مراحل اجرا";
	font: 33px "IRANSansXFaNum Black";
	float: left;
	margin-top: -142px;
}

.model-project .form-row:nth-child(3n+10)::before {
	margin-right: -5px;
	content: counter(item);
	background: var(--primary);
	border-radius: 100%;
	color: white;
	width: 2em;
	text-align: center;
	display: inline-block;
	height: 2em;
	line-height: 2;
}


.model-project .form-row:last-child::before {
	content: "";
	background: transparent;
	width: auto;
	height: auto;
}



#map_location {
	width: 100% !important;
	height: 500px !important;
	border-radius: 18px;
}