:root {
  --color_primary: #ee6e73;
  --color_secondary: darkolivegreen;
  --color_secondary_light: #556b2f77;
  --font: 'sahel';
}

html,body{margin: auto;font-family: var(--font);}


.effect-im {
	position: relative;
	overflow: hidden;
	display: block;
	line-height: 0;
}

.big-img .effect-im {
    border: 2px solid #333;
    box-shadow: 0 0 7px rgba(0, 0, 0, .23);
}

.top-slider .effect-im {
	border: transparent;
	box-shadow: transparent
}

.effect-im::before {
	background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transform: scale3d(1.9, 2.4, 1) rotate3d(0, 0, 1, 135deg) translate3d(0px, 180%, 0px);
	transition: transform 1s ease 0s;
	width: 100%
}

.effect-im:hover::before {
	transform: scale3d(1.9, 2.4, 1) rotate3d(0, 0, 1, 135deg) translate3d(0px, -180%, 0px)
}

nav {
    color: #ee6e73;
    background-color: white;
    margin: 2% 10%;
    border-radius: 7px;
}
nav .brand-logo {
	font-size: 1.8rem;
}
nav .brand-logo, nav ul a {
    color: var(--color_secondary);
    margin-left: 2%;
}
.collection a,.secondary-content{
    color: var(--color_secondary);
}
.collection .collection-item.avatar {
	min-height: 68px;
}

#map{border:0; width:100%; height:100%; position:absolute; z-index:-1; top:0;}



.ol-popup {
    font-family:  var(--font);
    position: absolute;
    background-color: white;
    /*--webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));*/
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 180px;
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.tap-target{
	background-color: var(--color_secondary);
}

.progress {
	background-color: var(--color_secondary_light);
}
.progress.full_progress {
	bottom: 0;
	position: absolute;
	margin-bottom: 0;
	height: 8px;
}
.progress .determinate {
	background-color: var(--color_secondary);
}
