:root {
  --color_primary: #ee6e73;
  --color_secondary: darkolivegreen;
  --color_secondary_light: #556b2f77;
  --font: 'sahel';
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/static/fonts/materialicons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

html,body{margin: auto;font-family: var(--font);}
.tr, .tr *{
	transition: 313ms;
}
.tr:hover, .tr *:hover{
	transition: 110ms;
}

.rtl{
    direction: rtl;
}
.ltr{
    direction: ltr;
}
.tar{
    text-align: right;
}
.tal{
    text-align: left;
}
.taj{
    text-align: justify;
}
.tac{
    text-align: center;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.br14{
	border-radius: 14px;
}
.padding{
	padding: 2%;
}

.row{
	width: 100%;
}

button, input, optgroup, select, textarea {
	font-family: var(--font);
}

.effect-im {
	position: relative;
	overflow: hidden;
	display: block;
	line-height: 0;
}

.big-img .effect-im {
    border: 2px solid #333;
    box-shadow: 0 0 7px rgba(0, 0, 0, .23);
}

.top-slider .effect-im {
	border: transparent;
	box-shadow: transparent
}





.effect-im::before {
	background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transform: scale3d(1.9, 2.4, 1) rotate3d(0, 0, 1, 135deg) translate3d(0px, 180%, 0px);
	transition: transform 1s ease 0s;
	width: 100%
}

.effect-im:hover::before {
	transform: scale3d(1.9, 2.4, 1) rotate3d(0, 0, 1, 135deg) translate3d(0px, -180%, 0px)
}






nav {
    color: #ee6e73;
    background-color: white;
    margin: 2% 10%;
    border-radius: 7px;
}
nav ul li {
	position: relative;
}
nav .brand-logo {
	font-size: 1.8rem;
}
nav .brand-logo, nav ul a {
    color: var(--color_secondary);
    margin-left: 2%;
}
.collection a,.secondary-content{
    color: var(--color_secondary);
}
.collection .collection-item.avatar {
	min-height: 68px;
}

.tap-target{
	background-color: var(--color_secondary);
}

.progress {
	background-color: var(--color_secondary_light);
}
.progress.full_progress {
	bottom: 0;
	position: absolute;
	margin-bottom: 0;
	height: 8px;
}
.progress .determinate {
	background-color: var(--color_secondary);
}

.home-col:first-child {
	margin-left: 0;
}
.home-col:last-child {
	margin-right: 0;
}
.home-col {
	border:0px solid transparent;
	margin: auto 8px;
	width: calc(20% - 16px);
	max-height: 680px;
	overflow-y: auto;
}


.collapsible-header i {
	margin: auto;
}

[contenteditable="true"] {
	cursor: alias;
}
[contenteditable="true"]:focus {
	padding: 5px;
	color: #3e2723;
}


.ptag {
	background-color: var(--color_secondary);
    border: 2px solid transparent;
	color: white;
	display: inline-block;
	padding: 2px 6px;
	border-radius: 7px 22px 12px 7px;
	margin-top: 10px;
	transform: skewX(-12deg);
	padding: 1px 8px;
    transition: 313ms;
}

.ptag:hover {
	background-color: #fff6;
    border: 2px solid var(--color_secondary);
	color: var(--color_secondary);
	padding: 1px 10px;
    transition: 110ms;
}

.ptag:hover i {
	margin: 4px 0px auto 8px;
    transition: 110ms;
}

.ptag i {
	font-size: 12px;
	margin: 4px -2px auto 4px;
	float: right;
    transition: 313ms;
}




.nav-wrapper.progress {
	background-color: white;
}
.nav-wrapper.progress .determinate {
	background-color: var(--color_secondary_light);
	transform: skewX(-8deg) translateX(-4px);
}








/*chat*/
/*chat*/
/*chat*/


.ChatContainer {
	height: 80vh;
	margin-top: -30px;
}

.ChatContainer .ChatList {
	width: 33%;
	margin-top: 3%;
	border-left: 1px dotted #00A69399;
	padding: 0 2%;
	height: 98%;
}


.ChatContainer .ChatList li:hover {
	background-color: #eee9;
	border-radius: 9px;
}

.ChatContainer .ChatList img {
	width: 95px;
	height: 95px;
	border-radius: 50%;
	object-fit: cover;
	background: linear-gradient(#76D6CB , #34716A, #057C6F );
	padding: 3px;
}

.ChatContainer .ChatList li:hover img {
	padding: 6px;
}

.ChatContainer .ChatList h5 {
	width: calc( 100% - 110px);
	margin-top: -5px;
	padding: 10px;
	font-family: var(--font);
	font-weight: bolder;
	color: var(--color_secondary);
}

.ChatContainer .ChatList p {
	width: calc( 100% - 110px);
	margin-top: -10px;
	padding: 10px;
	font-weight: lighter;
	margin-bottom: -5px;
	color: var(--color_secondary_light);
}

.ChatContainer .ChatList small {
	color: var(--color_secondary_light);
}






.MessagesList {
	width: 60%;
	margin: 3%;
	height: 97%;
	padding-top: 12px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	align-content: space-between;
}

.MessagesList .MessagesItem {
	overflow-y: scroll;
}

.MessagesList .bubble {
	border: 1px solid var(--color_secondary);
	max-width: 50%;
	padding-top: 2%;
	line-height: 2.5;
	cursor: grab;
	user-select: none;
}
.SendMsg {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	padding: 7px 0;
}
.SendMsg .TextSection {
	background-color: var(--color_secondary_light);
	display: grid;
	margin-left: 6px;
	float: right;
	width: 100%;
	line-height: 2;
	border: 4px outset transparent;
}
.SendMsg .btn {
	background-color: var(--color_secondary);
	border: navajowhite;
	width: 45px;
	padding: 1px 2px;
	height: 42px;
	border-radius: 50%;
	line-height: 4;
	vertical-align: middle;
	cursor: pointer;
}

.SendMsg .textarea {
	border: none;
	resize: none;
	background: none;
	color: white;
	padding: 2% 4%;
}
.SendMsg .textarea:focus {
	outline: 1px solid transparent;
}

.SendMsg .textarea[contenteditable]:empty::before {
  content: "متن پیام";
  color: #eeee;
}


.SendMsg:focus-within .TextSection {
	background-color: white;
	color: var(--color_secondary);
	border: 4px outset var(--color_secondary);
}

.SendMsg:focus-within .textarea {
	color: var(--color_secondary);
}

.SendMsg:focus-within .textarea[contenteditable]:empty::before {
	color: var(--color_primary);
    opacity: 0.7;
}