{% load saelozahra_tags %}
{% load humanize %}

<div class="col s10 tar" style="direction: rtl;">

    <b class="red-text">
        <span class="black-text">
            بودجه کل:
        </span>
        {{ project.money|intcomma:False}}
        <small class="black-text">
            {{ toman|safe }}
        </small>
    </b>
    <br>
    <b class="red-text" style="text-decoration: line-through;opacity: 0.8;">
        <span class="black-text">
            خرج شده:
        </span>
        {% if finance_sum.CommodityPrice__sum is None %}
            0
        {% else %}
            {{ finance_sum.CommodityPrice__sum|intcomma:False}}
        {% endif %}
        <small class="black-text">
            {{ toman|safe }}
        </small>
    </b>

    <br>
    <b class="red-text" style="text-decoration: underline">
        <span class="black-text">
            بودجه باقیمانده:
        </span>
        {{ project.money|menha:finance_sum.CommodityPrice__sum|intcomma:False  }}
        <small class="black-text">
            {{ toman|safe }}
        </small>
    </b>

    <a class="left waves-effect waves-light btn green darken-4 modal-trigger" style="margin-right: 8px; margin-top: -14px;" href="#finance">
        <i class="material-icons left">attach_money</i> جزئیات پرداخت ها و مخارج
    </a>

    <!-- Modal Structure -->
    <div id="finance" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>پرداخت‌های  {{ project }}</h4>

            <table class="centered highlight striped responsive-table">
                <thead>
                    <tr>
                        <th>نام</th>
                        <th>تصویر محصول</th>
                        <th>فاکتور</th>
                        <th>مبلغ</th>
                        <th>زمان</th>
                    </tr>
                </thead>

                <tbody>
                {% for f in finance %}
                    <tr class="tooltipped" data-position="top" data-tooltip="{{ f.Buyer }} این محصول را از فروشگاه: {{ f.BuyFrom }} خرید<br><br>{{ f.CommodityDesc }}">
                        <td >{{ f }}</td>
                        <td><img src="{% if f.CommodityPhoto %}{{ f.CommodityPhoto.url }}{% endif %}" class="materialboxed" alt="تصویر محصول" style="max-width: 110px;max-height: 110px; border-radius: 14px;display: inline;"></td>
                        <td><img src="{% if f.BuyFactor %}{{ f.BuyFactor.url }}{% endif %}" class="materialboxed" alt="فاکتور" style="max-width: 110px;max-height: 110px; border-radius: 14px;display: inline;"></td>
                        <td>{{ f.CommodityPrice|intcomma:False }}</td>
                        <td>{{ f.BuyDateTime.ctime }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">یا علی</a>
            <a href="#request_kharid" class="teal lighten-1 modal-close modal-trigger waves-effect waves-green btn-flat">درخواست خرید جدید</a>
        </div>
    </div>



<div id="request_kharid" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>درخواست خرید کالا برای پروژه {{ project }}</h4>
            <br>
            <form method="post">
                <input type="hidden" name="pid" id="kharid_pid" value="{{ id }}">
                <input type="hidden" name="Requester" id="kharid_requester" value="{{ request.user.id }}">
                <div class="input-field col s5">
                    <i class="material-icons prefix">album</i>
                    <input required name="CommodityVolume" data-length="110" id="CommodityVolume" type="text" value="" class="validate">
                    <label style="margin-left: 0;" for="CommodityVolume" class="">میزان کالا</label>
                </div>
                <div class="input-field col s7">
                    <i class="material-icons prefix">all_inclusive</i>
                  <input required name="Commodity" id="Commodity" type="text" value="" class="validate">
                  <label style="margin-left: 0;" for="Commodity" class="">نام کالا</label>
                </div>
                <br>
                <br style="clear: both">
                <div class="input-field col s12" style="margin: 2rem auto 4rem;">
                    <i class="material-icons prefix">mode_edit</i>
                    <textarea style="min-height: 110px" name="CommodityDesc" id="CommodityDesc" class="materialize-textarea"></textarea>
                  <label style="margin-left: 0;" for="CommodityDesc" class="">توضیحات درخواست</label>
                </div>
                <br>
                <div class="file-field input-field col s12">
                    <div class="btn">
                        <span>انتخاب تصویر نامه درخواست</span>
                        <input required type="file" name="Photo" id="kharid_photo">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#!" onclick="submit_kharid_request()" class="modal-close waves-effect waves-green btn-flat teal lighten-1">ثبت درخواست</a>
        </div>
    </div>


</div>
<h5 class="col s2 right tar" >مالی</h5>

<script>

    function submit_kharid_request(selfObject){
        var pid = document.getElementById("kharid_pid").value;
        var kharid_requester = document.getElementById("kharid_requester").value;
        var Commodity = document.getElementById("Commodity").value;
        var CommodityVolume = document.getElementById("CommodityVolume").value;
        var CommodityDesc = document.getElementById("CommodityDesc").value;
        var kharid_photo = document.getElementById("kharid_photo").files[0];

        const data = new FormData();
        data.append("pid", pid);
        data.append("Commodity", Commodity);
        data.append("CommodityVolume", CommodityVolume);
        data.append("CommodityDesc", CommodityDesc);
        data.append("Requester", kharid_requester);
        data.append("photo", kharid_photo);
        data.append("csrfmiddlewaretoken", "{{ csrf_token }}");

        const xhr = new XMLHttpRequest();
        xhr.withCredentials = true;

        xhr.addEventListener("readystatechange", function () {
            if (this.readyState === this.DONE) {
                console.log(this.responseText);
                const HtmlToast = '<span>درخواست خرید ثبت شد</span><button class="btn-flat toast-action">دمت گرم</button>';
                M.toast({html: HtmlToast, classes: 'rounded'});
            }
        });

        xhr.open("POST", "http://127.0.0.1:8000/api/financial/");

        xhr.send(data);


    }

</script>