{% extends "base.html" %}

{% block title %} کنترل پروژه آب رسانی -  {{ city }} {% endblock %}
{% block MenuTitle %} کنترل پروژه آب رسانی -  {{ city }} {% endblock %}

{% block UnderMap %}
    <style>
      .map {
        filter: blur(6px) brightness(1.1) saturate(1.2) sepia(0.1);
      }
    </style>


    <div class="progress full_progress">
        <div class="determinate" style="width: {{ miangin_pishraft }}%"></div>
    </div>

{% endblock UnderMap %}

{% block LeftContent %}
    <ul class="collection with-header">
        <li class="collection-header tar rtl">
            <h4>{{ city }}</h4>
            <h6>{{ projects_count }} پروژه فعال</h6>
        </li>
    </ul>
    {% if user.is_authenticated %}
        <ul class="collection with-header">
            <li class="collection-header tar"><h4>یادداشت مدیریتی</h4></li>
            <li class="collection-item rtl" style="padding: 0;">
                <textarea class="row" placeholder="یادداشت" onchange="updateNoteText(this,'{{ slug }}');" style="border: 0 none; width: 100%; min-height: 202px;margin: auto;" >{{ note }}</textarea>
            </li>
        </ul>
    {% endif %}
{% endblock LeftContent %}

{% block LeftBoxWidth %}48%{% endblock LeftBoxWidth %}

{% block RightContent %}

    <ul class="collection" >
        {% for pd in projects %}
            <li class="collection-item avatar">
                <a  href="../project/{{ pd.id }}" title="{{ pd.title }}">
                    <img src="{{ pd.photo }}" alt="" class="circle" style="margin-top: 10px;">
                    <span class="title">{{ pd.title }} - {{ pd.city }}</span>
                    <p>
                        <div class="progress">
                            <div class="determinate" style="width: {{ pd.miangin_pishraft }}%"></div>
                        </div>
                    </p>
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock RightContent %}

{% block BottomContent %}
{% endblock BottomContent %}


{% block scripts %}

    function updateNoteText(selfObject,PSlug){
        var xhttp = new XMLHttpRequest();
        xhttp.onload = function() {
            var HtmlToast = '<span>یادداشت ذخیره شد</span><button class="btn-flat toast-action">بازگشت</button>';
            M.toast({html: HtmlToast, classes: 'rounded'});
        }
        xhttp.open("POST", "/api/project/");
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("project="+PSlug+"&csrfmiddlewaretoken={{ csrf_token }}&text="+selfObject.value);
    }

    var map = new ol.Map({
        target: 'map',
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          })
        ],
        view: new ol.View({
          center: ol.proj.fromLonLat([{{ lng }},{{ lat }}]),
          zoom: 14
        })
    });




{% endblock scripts %}
