<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}کنترل پروژه آب رسانی{% endblock title %}</title>
    <meta name="description" content="The small framework with powerful features">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/static/favicon.ico" >

    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/gh/rastikerdar/sahel-font@v3.4.0/dist/font-face.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/ol.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">




    <script src="/static/ol.js"></script>

</head>
<body>

    <div id="map" class="map"></div>
    {% block UnderMap %}{% endblock UnderMap %}

    <div class="container">
        <nav class="row">
            <div class="nav-wrapper">
                <a href="../../../" class="brand-logo"><b><i class="material-icons">spa</i>{% block MenuTitle %}پروژه آب رسانی شهید مالکوم ایکس{% endblock MenuTitle %}</b></a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="waves-effect waves-light modal-trigger" href="#search"><i class="material-icons">search</i></a></li>
                    <li><a href="../../../project"><i class="material-icons">view_module</i></a></li>
                    <li><a href="../../../chat"><i class="material-icons">message</i></a></li>
                    <li><a href="" onclick="window.location.reload()"><i class="material-icons">refresh</i></a></li>
                    <li><a href="../../../modiriat" onmouseleave="M.toast({html: '{{ request.user.first_name }} {{ request.user.last_name }} عزیز ، خوش آمدید'});return false;"><i class="material-icons">account_circle</i></a></li>
                    <li><a href="../../../register" onclick="M.toast({html: 'برای ثبت‌نام به مدیر سایت پیام دهید '});return false;"><i class="material-icons">person_add</i></a></li>
                </ul>
            </div>
        </nav>
        <!-- Search Structure -->
        <form style="direction: rtl;" id="search" class="modal modal-fixed-footer" method="post" action="../../../search/">
            <div class="modal-content">
                <h4>جستجو در پروژه ها</h4>
                {% csrf_token %}
                <p><input name="text" type="search" style="min-height: 133px;" placeholder="متن جستجو"></p>

                <p>
                  <label>
                    <input class="with-gap" name="search_in" type="radio" value="title" checked />
                    <span>عناوین</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input class="with-gap" name="search_in" type="radio" value="city" />
                    <span>نام شهر</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input class="with-gap" name="search_in" type="radio" value="admin"  />
                    <span>سرپرست کارگاه</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input class="with-gap" name="search_in" type="radio" value="project_type"  />
                    <span>نوع پروژه</span>
                  </label>
                </p>
            </div>
            <div class="modal-footer">
               <input type="submit" value="جستجو" class="btn left modal-close waves-effect waves-green" >
            </div>
        </form>


        <div class="{% block ContainerRowClass %}row{% endblock ContainerRowClass %}">
            <div style="float: left; width: {% block LeftBoxWidth %}313px{% endblock LeftBoxWidth %};max-height: 789px;overflow-y: auto;padding: 10px">
                {% block LeftContent %}
                {% endblock LeftContent %}
            </div>

            <div style="float: right;width: 48%;max-height: 789px;overflow-y: auto;padding: 10px">
                {% block RightContent %}
                {% endblock RightContent %}
            </div>
            <br style="clear: both;">
        </div>

        {% block BottomContent %}
        {% endblock BottomContent %}


    </div>


    <script type="text/javascript">

        {% block scripts %}
        {% endblock scripts %}

        $(document).ready(function(){
            $('.tap-target').tapTarget();
            $('.collapsible').collapsible();
            $('.modal').modal();
            $('.tooltipped').tooltip();
        });

    </script>

</body>
</html>
