<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}کنترل پروژه آب رسانی{% endblock title %}</title>
    <meta name="description" content="The small framework with powerful features">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/static/favicon.ico" >

    <link type="text/css" rel="stylesheet" href="/static/fonts/sahel/font-face.css" />
    <link rel="stylesheet" href="/static/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/nouislider.css">
    <link rel="stylesheet" href="/static/css/ol.css">
    <link rel="stylesheet" href="/static/css/lightbox.min.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/owl.theme.green.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/materialize.min.js"></script>
    <script src="/static/js/nouislider.min.js"></script>
    <script src="/static/js/lightbox.min.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>




    <script src="/static/js/ol.js"></script>

</head>
<body>

    <div id="map" class="map"></div>
    {% block UnderMap %}{% endblock UnderMap %}

    <div class="container">
        <nav class="row">
            <div class="nav-wrapper">
                <a href="../../../" class="brand-logo"><b><i class="material-icons">spa</i>{% block MenuTitle %}پروژه آب رسانی شهید مالکوم ایکس{% endblock MenuTitle %}</b></a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="waves-effect waves-light modal-trigger" href="#search"><i class="material-icons">search</i></a></li>
                    <li><a href="../../../project"><i class="material-icons">view_module</i></a></li>
                    <li><a href="../../../chat"><i class="material-icons">message</i></a></li>
                    <li><a href="" onclick="window.location.reload()"><i class="material-icons">refresh</i></a></li>
                    <li><a href="../../../modiriat" onmouseleave="M.toast({html: '{{ request.user.first_name }} {{ request.user.last_name }} عزیز ، خوش آمدید'});return false;"><i class="material-icons">account_circle</i></a></li>
                    {% if request.user.is_superuser %}
                        <li><a href="../../../modiriat/accounts/customuser/add/" onclick="M.toast({html: 'برای ثبت‌نام به مدیر سایت پیام دهید '});return false;"><i class="material-icons">person_add</i></a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <!-- Search Structure -->
        <form id="search" class="modal modal-fixed-footer rtl" method="post" action="../../../search/">
            <div class="modal-content">
                <h4>جستجو در پروژه ها</h4>
                {% csrf_token %}
{#                @TODO: autocomplete search#}
                <br>
                <div class="input-field col s6">
                  <input name="text" id="search_text" type="search" value="{{ search_word }}" class="validate">
                  <label for="search_text" id="search_text_label">متن جستجو</label>
                </div>
                <br>
                <label>
                    جستجو بر اساس بازه پیشرفت پروژه:
                    <input type="hidden" name="baze_pishraft" value="0,100">
                    <div id="baze_pishraft"></div>
                </label>
                <br>
                <br>
                <br>
                <label>جستجو در فیلد : </label>
                <p>
                  <label>
                    <input class="with-gap" name="search_in" type="radio" value="title" checked />
                    <span>عناوین</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input class="with-gap" name="search_in" type="radio" value="city" />
                    <span>نام شهر</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input class="with-gap" name="search_in" type="radio" value="admin" />
                    <span>سرپرست کارگاه</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input class="with-gap" name="search_in" type="radio" value="project_type" />
                    <span>نوع پروژه</span>
                  </label>
                </p>
            </div>
            <div class="modal-footer">
               <input type="submit" value="جستجو" class="btn left modal-close waves-effect waves-green" >
            </div>
        </form>

        <div class="{% block ContainerRowClass %}row{% endblock ContainerRowClass %}">

            {% if obj_type %}
                <div class="row owl-carousel  owl-theme" id="display_search_list" style="direction: ltr ;">
                    <a class="ptag" href="../../search/promote"><i class="material-icons">date_range</i> ویژه</a>
                    <a class="ptag" href="../../search/inactivetoday"> <i class="material-icons">location_disabled</i> غیرفعال در امروز</a>
                    <a class="ptag" href="../../search/inactive2month"> <i class="material-icons">location_disabled</i>غیرفعال در دو ماه اخیر</a>
                    <a class="ptag" href="../../search/latest_actived"><i class="material-icons">update</i> جدیدا بروز شده</a>
                    <a class="ptag" href="../../search/without_files"><i class="material-icons">insert_drive_file</i> فاقد مستندات</a>
                    <a class="ptag" href="../../search/has_note"><i class="material-icons">note</i> دارای یادداشت مدیریتی</a>
                    <a class="ptag" href="../../search/less_than_20"><i class="material-icons">filter_2</i> کمتر از 20% پیشرفت</a>
                    <a class="ptag" href="../../search/more_than_80"><i class="material-icons">filter_8</i> بالای 80% پیشرفت</a>
                    <a class="ptag" href="../../search/without_gharardad"><i class="material-icons">new_releases</i> فاقد قرارداد</a>
                    <a class="ptag" href="../../search/week_end_date"><i class="material-icons">next_week</i> تاریخ پایان در هفته آینده</a>
                    <a class="ptag" href="../../search/month_end_date"><i class="material-icons">multiline_chart</i> تاریخ پایان در این ماه</a>
                    <a class="ptag" href="../../search/month_end_date"><i class="material-icons">view_agenda</i> پایان یافته</a>
                    {% for ot in obj_type %}
                        <a class="ptag" href="../../search/object_type/{{ ot.title }}">{{ ot.title }}</a>
                    {% endfor %}
                </div>
            {% endif %}
            <div style="float: left; width: {% block LeftBoxWidth %}313px{% endblock LeftBoxWidth %};max-height: 789px;overflow-y: auto;padding: 10px">
                {% block LeftContent %}
                {% endblock LeftContent %}
            </div>

            <div style="float: right;width: 48%;max-height: 789px;overflow-y: auto;padding: 10px">
                {% block RightContent %}
                {% endblock RightContent %}
            </div>
            <br style="clear: both;">
        </div>

        {% block BottomContent %}
        {% endblock BottomContent %}


    </div>


    <script type="text/javascript">

        {% block scripts %}
        {% endblock scripts %}

        var slider = document.getElementById('baze_pishraft');
        noUiSlider.create(slider, {
            start: [0, 100],
            connect: true,
            step: 1,
            orientation: 'horizontal', // 'horizontal' or 'vertical'
            range: {
                'min': 0,
                'max': 100
            },
            format: wNumb({
                decimals: 0
            })
        });

        slider.noUiSlider.on('set.one', function (values) {
            $('input[name="baze_pishraft"]').val(values);
        });

        $(document).ready(function(){
            $('.tap-target').tapTarget();
            $('.collapsible').collapsible();
            $(".modal").modal();
            $(".tooltipped").tooltip();
            $('input[name="search_in"]').change(function() {
                if (this.value === 'title') {
                    $("#search_text_label").text("عنوان پروژه را بنویسید");
                }else if (this.value === 'city') {
                    $("#search_text_label").text("نام شهر را بنویسید");
                }else if (this.value === 'admin') {
                    $("#search_text_label").text("نام، نام خانوادگی یا نام کاربری سرپرست کارگاه را بنویسید");
                }else if (this.value === 'project_type') {
                    $("#search_text_label").text("نوع پروژه را بنویسید");
                }
            });

            if("{{ search_in }}" === "title"){
                 $('input[value="title"]').attr("checked", "checked");
            }else if("{{ search_in }}" === "city"){
                 $('input[value="city"]').attr("checked", "checked");
            }else if("{{ search_in }}" === "admin"){
                 $('input[value="admin"]').attr("checked", "checked");
            }else if("{{ search_in }}" === "project_type"){
                 $('input[value="project_type"]').attr("checked", "checked");
            }
        });
        $('#display_search_list').owlCarousel({
            margin: 10,
            loop: true,
            center: true,
            autoWidth: true,
            items: 4,
        })
    </script>

</body>
</html>
