{% extends "base.html" %}
{% block title %}صفحه اصلی | پروژه آب رسانی شهید مالکوم ایکس{% endblock %}
{% block MenuTitle %}صفحه اصلی | پروژه آب رسانی شهید مالکوم ایکس{% endblock %}

{% block UnderMap %}
    <div id="popup" title="myproject" class="ol-popup">
          <a href="#" id="popup-closer" class="ol-popup-closer"></a>
          <div id="popup-content"></div>
    </div>

    <div class="progress" style="bottom: -2px;position: absolute;left: 1.2%;width: 97%;height: 8px;border-radius: 10px;">
        <div class="determinate" style="width: {{ pishraft }}%"></div>
    </div>
{% endblock UnderMap %}
{% block ContainerRowClass %}fl left{% endblock ContainerRowClass %}
{% block LeftContent %}
    <ul class="collection" >
        {% for pd in projects_data %}
            <li class="collection-item avatar">
                <a  href="./project/{{ pd.id }}" title="{{ pd.title }}">
                    <img src="{{ pd.photo }}" alt="" class="circle" style="margin-top: 10px;">
                    <span class="title">{{ pd.title }} - {{ pd.city }}</span>
                    <p>
                        <div class="progress">
                            <div class="determinate" style="width: {{ pd.miangin_pishraft }}%"></div>
                        </div>
                    </p>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock LeftContent %}

{% block RightContent %}{% endblock RightContent %}

{% block BottomContent %}
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a id="menu" class="btn btn-floating btn-large tap-target-click" onclick="$('.tap-target').tapTarget('open')" style="background-color: var(--color_secondary)" >
            <i class="material-icons">timeline</i>
        </a>
    </div>

    <div class="tap-target" data-target="menu">
        <div class="tap-target-content white-text">
            <h5>آمار کلی</h5>
            <p class="white-text">
                در حال حاضر  <b>{{ projects_number }}</b> پروژه در سامانه بارگزاری شده
                <br>
                و میانگین پیشرفت این پروژه ها تا امروز <b>{{ pishraft }}%</b> است
                <br>
                با آرزوی موفقیت
            </p>
        </div>
    </div>


{% endblock BottomContent %}


{% block scripts %}

    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.tap-target');
        var instances = M.TapTarget.init(elems);
    });


    var content = document.getElementById('popup-content');
    var center = ol.proj.transform([52.5640869140625, 29.591371238663804], 'EPSG:4326', 'EPSG:3857'); //initial position of map
    var view = new ol.View({
        center: center,
        zoom: 8
    });

//raster layer on map
   var OSMBaseLayer = new ol.layer.Tile({
        source: new ol.source.OSM()
    });

 straitSource = new ol.source.Vector({ wrapX: true });
    var straitsLayer = new ol.layer.Vector({
        source: straitSource
    });

 map = new ol.Map({
        layers: [OSMBaseLayer, straitsLayer],
        target: 'map',
        view: view,
        controls: [new ol.control.FullScreen(), new ol.control.Zoom()]
    });

   // Popup showing the position the user clicked
    var container = document.getElementById('popup');
    var popup = new ol.Overlay({
        element: container,
        autoPan: true,
        autoPanAnimation: {
            duration: 250
        }
    });
    map.addOverlay(popup);


    map.on('click', function (evt) {
        var feature = map.forEachFeatureAtPixel(evt.pixel, function (feat, layer) {
            return feat;
        });
        //alert(feature.get('url'));
        window.location.href=window.location.href+"project/"+feature.get('url');
    });



  /* Add a pointermove handler to the map to render the popup.*/
    map.on('pointermove', function (evt) {
        var feature = map.forEachFeatureAtPixel(evt.pixel, function (feat, layer) {
            return feat;
        }
        );

        if (feature && feature.get('type') == 'Point') {
            var coordinate = evt.coordinate;    //default projection is EPSG:3857 you may want to use ol.proj.transform

            content.innerHTML = feature.get('desc');
            popup.setPosition(coordinate);
        }
        else {
            popup.setPosition(undefined);

        }
    });

var data=[
    {% for pd in projects_data %}
        {
            "project_name":"{{ pd.title }}",
            "photo":"{{ pd.photo }}",
            "icon":"{{ pd.icon }}",
            "miangin_pishraft":"{{ pd.miangin_pishraft }}",
            "Lon":{{ pd.lng }},
            "Lat":{{ pd.lat }},
            "url":"{{ pd.id }}"
        },
    {% endfor %}
];

function addPointGeom(data) {

        data.forEach(function(item) {
            var longitude = item.Lon,
            latitude = item.Lat,
            project_name = item.project_name,
            iconFeature = new ol.Feature({
                geometry: new ol.geom.Point(ol.proj.transform([longitude, latitude], 'EPSG:4326',
                    'EPSG:3857')),
                type: 'Point',
                url: item.url,
                desc: '<div style="font-family: sahel;direction: rtl;"> <p style="float: right;"><b>' + project_name + ' </b> ' + '</p>  <div class="progress"><div class="determinate" style="width: '+item.miangin_pishraft+'%"></div> </div> <img style="max-width: 162px;display: inline-block;border-radius: 5px;margin-bottom: -5px" src="'+item.photo+'" > </div>'}),
            iconStyle = new ol.style.Style({
                image: new ol.style.Icon({
                  anchor: [0.5, 1],
{#                  src: '/static/img/social_media_network_online_maps-64.webp'#}
                  src: item.icon,
                })
            });

            iconFeature.setStyle(iconStyle);

            straitSource.addFeature(iconFeature);
        });
    }// End of function showStraits()

addPointGeom(data);



{% endblock scripts %}
